@font-face {
  font-family: "IBMPlexMono";
  src:
    url("../../fonts/IBMPlexMono-Regular.woff2") format("woff2"),
    url("../../fonts/IBMPlexMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src:
    url("../../fonts/IBMPlexMono-Italic.woff2") format("woff2"),
    url("../../fonts/IBMPlexMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src:
    url("../../fonts/IBMPlexMono-Medium.woff2") format("woff2"),
    url("../../fonts/IBMPlexMono-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src:
    url("../../fonts/IBMPlexMono-MediumItalic.woff2") format("woff2"),
    url("../../fonts/IBMPlexMono-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src:
    url("../../fonts/IBMPlexMono-SemiBold.woff2") format("woff2"),
    url("../../fonts/IBMPlexMono-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src:
    url("../../fonts/IBMPlexMono-SemiBoldItalic.woff2") format("woff2"),
    url("../../fonts/IBMPlexMono-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src:
    url("../../fonts/IBMPlexMono-Bold.woff2") format("woff2"),
    url("../../fonts/IBMPlexMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src:
    url("../../fonts/IBMPlexMono-BoldItalic.woff2") format("woff2"),
    url("../../fonts/IBMPlexMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  src:
    url("../../fonts/HelveticaNeue-Medium.woff2") format("woff2"),
    url("../../fonts/HelveticaNeue-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 200;
  src:
    url("../../fonts/HelveticaNeue-Ultralight.woff2") format("woff2"),
    url("../../fonts/HelveticaNeue-Ultralight.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 400;
  src:
    url("../../fonts/HelveticaNeue-RegularItalic.woff2") format("woff2"),
    url("../../fonts/HelveticaNeue-RegularItalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src:
    url("../../fonts/HelveticaNeue-Bold.woff2") format("woff2"),
    url("../../fonts/HelveticaNeue-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  src:
    url("../../fonts/HelveticaNeue-Light.woff2") format("woff2"),
    url("../../fonts/HelveticaNeue-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 100;
  src:
    url("../../fonts/HelveticaNeue-Thin.woff2") format("woff2"),
    url("../../fonts/HelveticaNeue-Thin.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src:
    url("../../fonts/HelveticaNeue-Regular.woff2") format("woff2"),
    url("../../fonts/HelveticaNeue-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src:
    url("../../fonts/NeueMontreal-Regular.woff2") format("woff2"),
    url("../../fonts/NeueMontreal-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src:
    url("../../fonts/NeueMontreal-Medium.woff2") format("woff2"),
    url("../../fonts/NeueMontreal-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src:
    url("../../fonts/NeueMontreal-Light.woff2") format("woff2"),
    url("../../fonts/NeueMontreal-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src:
    url("../../fonts/NeueMontreal-Italic.woff2") format("woff2"),
    url("../../fonts/NeueMontreal-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src:
    url("../../fonts/NeueMontreal-MediumItalic.woff2") format("woff2"),
    url("../../fonts/NeueMontreal-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src:
    url("../../fonts/NeueMontreal-BoldItalic.woff2") format("woff2"),
    url("../../fonts/NeueMontreal-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src:
    url("../../fonts/NeueMontreal-LightItalic.woff2") format("woff2"),
    url("../../fonts/NeueMontreal-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "NeueMontreal";
  src:
    url("../../fonts/NeueMontreal-Bold.woff2") format("woff2"),
    url("../../fonts/NeueMontreal-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8p2snz');
  src:  url('fonts/icomoon.eot?8p2snz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8p2snz') format('truetype'),
    url('fonts/icomoon.woff?8p2snz') format('woff'),
    url('fonts/icomoon.svg?8p2snz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-arrows-rotate:before {
  content: "\e902";
}
.icon-bars:before {
  content: "\e903";
}
.icon-chart-mixed-up-circle-dollar:before {
  content: "\e904";
}
.icon-circle-question:before {
  content: "\e905";
}
.icon-cloud-arrow-up:before {
  content: "\e906";
}
.icon-comment-arrow-up-right:before {
  content: "\e907";
}
.icon-comment-captions:before {
  content: "\e908";
}
.icon-comment-pen:before {
  content: "\e909";
}
.icon-download:before {
  content: "\e90a";
}
.icon-ear-listen:before {
  content: "\e90b";
}
.icon-file-lines:before {
  content: "\e90c";
}
.icon-file-pen:before {
  content: "\e90d";
}
.icon-floppy-disk:before {
  content: "\e90e";
}
.icon-gear:before {
  content: "\e90f";
}
.icon-hand-pointer:before {
  content: "\e910";
}
.icon-head-side-gear:before {
  content: "\e911";
}
.icon-image-polaroid:before {
  content: "\e912";
}
.icon-key:before {
  content: "\e913";
}
.icon-language:before {
  content: "\e914";
}
.icon-microphone-lines:before {
  content: "\e915";
}
.icon-paper-plane:before {
  content: "\e916";
}
.icon-rectangle-vertical-history:before {
  content: "\e917";
}
.icon-trash-can:before {
  content: "\e918";
}
.icon-user-large:before {
  content: "\e919";
}
.icon-user-pen:before {
  content: "\e91a";
}
.icon-wand-magic-sparkles:before {
  content: "\e91b";
}

