numpy>=1.25.2
tiktoken>=0.5.1
requests>=2.31.0
Pillow>=10.1.0
Flask>=2.3.3
WTForms>=3.1.1
sshtunnel>=0.4.0
openai>=1.2.4
cryptography>=41.0.7
tenacity>=8.2.3
pypdf>=3.17.0
docx2txt>=0.8
nltk>=3.8.1
Werkzeug>=3.0.1
itsdangerous>=2.1.2
SQLAlchemy>=2.0.23
cloudinary>=1.36.0
Authlib>=1.2.1
python-dotenv>=1.0.0
alembic>=1.12.1
pydub>=0.25.1