body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.success {
  color: var(--main-300);
}

.error {
  color: var(--accent-red-300);
}

.information {
  color: var(--accent-yellow-300);
}

#toast {
  position: fixed;
  bottom: var(--space-10);
  left: 15%;
  transform: translateX(-50%);
  background-color: var(--neutral-700);
  color: var(--text-inverse);
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radius-md);
  display: none;
  opacity: var(--opacity-0);
  transition: var(--transition-normal);
  z-index: 1000;
}

#full-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - var(--space-1));
  border-bottom: var(--border-thick) var(--accent-red-300);
}

#toast.success {
  background-color: var(--main-300);
}

#toast.error {
  background-color: var(--accent-red-300);
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-color: var(--neutral-100);
}

h1 {
  font-family: var(--ff-accent);
  font-size: var(--text-4xl);
  font-weight: var(--font-bold);
  margin: 0;
  top: 0;
  text-align: center;
  color: var(--neutral-700);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#left-column {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

#title-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: var(--border-normal) var(--neutral-700);
  margin-left: var(--space-2);
  width: fit-content;
}

h2 {
  writing-mode: vertical-lr;
  font-family: var(--ff-accent);
  font-size: var(--text-4xl);
  font-weight: var(--font-bold);
  margin: 0;
  top: 0;
  text-align: center;
  color: var(--accent-red-300);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#section-title {
  rotate: 180deg;
}

.section-title-div {
  border-right: var(--border-normal) var(--neutral-700);
  display: flex;
  height: fit-content;
  align-items: flex-start;
  margin: 0 auto 0 0;
}

.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--space-2);
  gap: var(--space-4);
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group.prompt-group {
  flex-grow: 1;
  margin-right: 0;
}

.submit-group {
  align-self: center;
}

.prompt-submit-container {
  display: flex;
}

.input-group label {
  color: var(--neutral-700);
  font-weight: var(--font-medium);
  font-family: var(--ff-txt);
  white-space: nowrap;
  font-size: var(--text-sm);
}

.prompt-submit-container input[type="text"] {
  flex-grow: 1;
  padding: var(--space-2);
  font-family: var(--ff-txt);
  border: var(--border-thin) var(--neutral-300);
  border-radius: var(--radius-md) 0 0 var(--radius-md);
  color: var(--text-primary);
}

.prompt-submit-container button {
  padding: var(--space-1) var(--space-2);
  border: var(--border-thin) var(--neutral-300);
  font-family: var(--ff-txt);
  border-radius: 0 var(--radius-md) var(--radius-md) 0;
  font-weight: var(--font-medium);
  background-color: var(--neutral-200);
  cursor: pointer;
  color: var(--text-primary);
}

ul {
  list-style: none;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

.prompt-submit-container button:hover {
  background-color: var(--neutral-300);
}

.gen-form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-2);
  flex-direction: column;
  height: 50%;
  padding: var(--space-4);
  background-color: var(--neutral-100);
  border-radius: var(--radius-md);
  border: var(--border-normal) var(--neutral-700);
  box-shadow: var(--space-1) var(--space-1) var(--neutral-700);
}

#number-of-images-container {
  margin-bottom: var(--space-3);
  margin-right: auto;
  margin-left: auto;
}

.main-row {
  gap: var(--space-6);
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

.homepage-link {
  display: none;
}

#generated-images {
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--neutral-100);
  border-radius: var(--radius-md);
  border: var(--border-normal) var(--neutral-700);
  box-shadow: var(--space-1) var(--space-1) var(--neutral-700);
  flex-direction: column;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

#generated-images img {
  max-height: 80%;
  max-width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
  height: auto;
  border: var(--border-thin) var(--neutral-700);
  border-radius: var(--radius-md);
  box-shadow: 0 0 var(--space-2) 0 rgba(0, 0, 0, 0.75);
}

input#n {
  font-size: var(--text-sm);
  padding: 0;
  color: var(--text-primary);
}

select {
  font-size: var(--text-sm);
  color: var(--text-primary);
  font-family: var(--ff-txt);
}

.success {
  color: var(--main-300);
}

.error {
  color: var(--accent-red-300);
}

#icons-container {
  text-align: center;
}

#icons-container .image-icon {
  margin: var(--space-1) var(--space-2);
  text-decoration: none;
  color: var(--accent-red-300);
  font-size: var(--text-lg);
}

.carousel {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 300px;
  overflow-x: scroll;
}

.carousel-inner {
  display: flex;
  width: 300px;
}

.thumbnail {
  width: auto;
  height: 100px;
  margin: var(--space-1);
  cursor: pointer;
}

#dall-e-3-options {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--space-2);
  gap: var(--space-4);
}

.metadata-value {
  color: var(--text-primary);
  word-wrap: break-word;
  white-space: normal;
}

.metadata-key {
  font-weight: var(--font-medium);
}

.image-metadata {
  margin: 0;
  padding: 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.img-util {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--space-2);
  flex-direction: column;
  height: 45%;
  max-height: 45%;
  overflow-y: scroll;
  padding: var(--space-4);
  background-color: var(--neutral-100);
  border-radius: var(--radius-md);
  border: var(--border-normal) var(--neutral-700);
  box-shadow: var(--space-1) var(--space-1) var(--neutral-700);
}

.img-mng-container {
  height: 100%;
  display: flex;
  gap: 5%;
  flex-direction: column;
}

.hamburger-menu {
  color: var(--neutral-700);
}
