body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.success {
  color: green;
}

.error {
  color: red;
}

.information {
  color: blue;
}

#toast {
  position: fixed;
  bottom: 40px;
  left: 15%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.6s;
  z-index: 1000;
}

#full-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 5px);
  border-bottom: 5px solid #ff4500;
}

#toast.success {
  background-color: green;
}

#toast.error {
  background-color: red;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-color: #fafafa;
}

h1 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #ff7900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#left-column {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

#title-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 3px solid #2a2a2a;
  margin-left: 10px;
  width: fit-content;
}

h2 {
  writing-mode: vertical-lr; /* Make the text vertical */
  font-family: "NeueMontreal", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #ff4500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#section-title {
  rotate: 180deg;
}

.section-title-div {
  border-right: 3px solid #2a2a2a;
  display: flex;
  height: fit-content;
  align-items: flex-start;
  margin: 0 auto 0 0;
}

.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group.prompt-group {
  flex-grow: 1;
  margin-right: 0;
}

.submit-group {
  align-self: center;
}

.prompt-submit-container {
  display: flex;
}

.input-group label {
  color: #2a2a2a;
  font-weight: 500;
  font-family: "Helvetica Neue", sans-serif;
  white-space: nowrap;
  font-size: 14px;
}

.prompt-submit-container input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  font-family: "Helvetica Neue", sans-serif;
  border: 1px solid #cccccc;
  border-radius: 4px 0 0 4px;
  color: #333333;
}

.prompt-submit-container button {
  padding: 5px 10px;
  border: 1px solid #cccccc;
  font-family: "Helvetica Neue", sans-serif;
  border-radius: 0 4px 4px 0;
  font-weight: 500;
  background-color: #f2f2f2;
  cursor: pointer;
  color: #333333;
}

ul {
  list-style: none;
}

a {
  color: #333333;
  text-decoration: none;
}

.prompt-submit-container button:hover {
  background-color: #e2e2e2;
}

.gen-form-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 50%;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 5px;

  border: 2px solid #2a2a2a;
  box-shadow: 4px 4px #2a2a2a;
}

#number-of-images-container {
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
}
.main-row {
  gap: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

.homepage-link {
  display: none;
}

#generated-images {
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
  border-radius: 5px;
  border: 2px solid #2a2a2a;
  box-shadow: 4px 4px #2a2a2a;
  flex-direction: column;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
}

#generated-images img {
  max-height: 80%;
  max-width: 80%;
  margin-top: auto;
  margin-bottom: auto;
  width: auto;
  height: auto;
  border: 1px solid #2a2a2a;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

input#n {
  font-size: 14px;
  padding: 0;
  color: #333333;
}

select {
  font-size: 14px;
  color: #333333;
  font-family: "Helvetica Neue", sans-serif;
}

.success {
  color: green;
}

.error {
  color: red;
}

#icons-container {
  text-align: center;
}

#icons-container .image-icon {
  margin: 5px 10px;
  text-decoration: none;
  color: #ff4500;
  font-size: 18px;
}

.carousel {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 300px;
  overflow-x: scroll;
}

.carousel-inner {
  display: flex;
  width: 300px;
}

.thumbnail {
  width: auto;
  height: 100px;
  margin: 5px;
  cursor: pointer;
}

#dall-e-3-options {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  gap: 20px;
}

.metadata-value {
  color: #333;
  word-wrap: break-word; /* Allows long words to be broken and wrap onto the next line */
  white-space: normal; /* Allows text to wrap as needed */
}
.metadata-key {
  font-weight: 500;
}

.image-metadata {
  margin: 0;
  padding: 0;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.img-util {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 45%;
  max-height: 45%;
  overflow-y: scroll;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 5px;

  border: 2px solid #2a2a2a;
  box-shadow: 4px 4px #2a2a2a;
}

.img-mng-container {
  height: 100%;
  display: flex;
  gap: 5%;
  flex-direction: column;
}

.hamburger-menu {
  color: #ff7900;
}
