.button {
  --bg-color: var(--neutral-100);
  --main-color: var(--neutral-700);
  width: var(--space-16);
  height: var(--space-12);
  border-radius: var(--radius-md);
  border: var(--border-normal) var(--main-color);
  background-color: var(--bg-color);
  box-shadow: calc(var(--space-1) * -1) var(--space-1) var(--main-color);
  font-size: var(--text-4xl);
  font-weight: var(--font-bold);
  margin: 0 0 var(--space-4);
  cursor: pointer;
  font-family: var(--ff-txt);
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 var(--neutral-100);
  transform: translate(var(--space-1), var(--space-1));
}

.button-link:hover {
  cursor: pointer;
  color: var(--accent-yellow-300);
}

ul li {
  margin: 0;
  padding: 0;
  font-family: var(--ff-txt);
}

.button-list {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--space-8);
  font-family: var(--ff-txt);
}

.messages-icon {
  display: none !important;
}

ul {
  padding: 0;
  list-style: none;
}

#left-column {
  display: flex;
  flex-direction: column;
  margin-left: var(--space-6);
}

#icons-container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
  max-height: calc(var(--space-16) * 4.4);
  margin-top: var(--space-4);
  width: calc(var(--space-16) * 2.9);
}

#icons-container img {
  height: calc(var(--space-16) * 1.37);
  width: auto;
}

.button-pause .nuicon-pause {
  display: inline-block;
}
