body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;

  width: 100%;
  overflow-x: hidden;
}

#toast {
  position: fixed;
  bottom: 40px;
  left: 15%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.6s;
  z-index: 1000;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-color: #ff7900;
  font-family: "Helvetica Neue", sans-serif;
}

.button {
  --bg-color: #ffffff;
  --main-color: #000000;
  width: 280px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: -4px 4px var(--main-color);
  font-size: 3em;
  font-weight: 600;
  margin: 0 0 20px;
  cursor: pointer;
  font-family: "Helvetica Neue", sans-serif;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 #ffff;
  transform: translate(3px, 3px);
}

.button-link:hover {
  cursor: pointer;
  color: #ed872d;
}

ul li {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
}

.button-list {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 50px;
  font-family: "Helvetica Neue", sans-serif;
}

#full-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 10px);
  border-bottom: 10px solid #e50000;
}

.homepage-link {
  display: none;
}

.hamburger-menu,
.toolbox-icon {
  color: #fafafa !important;
}

.messages-icon {
  display: none !important;
}

#title-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
h1 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 5em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  padding: 0;
  list-style: none;
}

#left-column {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

#icons-container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row; /* Keep row direction for a multi-column layout */
  flex-wrap: wrap; /* Allow items to wrap into multiple columns */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center the items horizontally */
  gap: 20px; /* Maintain the gap between items */
  max-height: 565px; /* Replace [icon-height] with the actual height of the icons */
  margin-top: 20px;
  width: 370px; /* Replace [icon-width] with the actual width of the icons */
}

#icons-container img {
  height: 175px;
  width: auto;
}
a {
  color: #000000;
  text-decoration: none;
}

.button-pause .fa-pause {
  display: inline-block;
}
