body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  color: #333;
  line-height: 1.6;
  height: 100vh;
  max-height: 100vh;
}

.content-wrap {
  height: calc(100% - 5px);
  border-bottom: 5px solid #ff4500;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.homepage-link {
  position: absolute;
  top: 20px;
  left: 20px;
}

.homepage-link img {
  height: 40px;
  width: auto;
  transition: transform 0.3s;
}

.homepage-link:hover img {
  transform: scale(1.1);
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  color: #333;
}

h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #ff4500;
  padding-bottom: 5px;
}

h3,
h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.bottom-row,
.top-row {
  display: flex;
  gap: 20px;
}

.top-row {
  height: 60%;
  flex-direction: row-reverse;
}

.bottom-row {
  flex-direction: row;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding-top: 40px;
  z-index: 99;
}
.custom-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 14px;
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="text"],
textarea {
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
}

input[type="submit"],
button {
  padding: 12px 24px;
  font-size: 0.8em;
  background-color: #ff4500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #ff6b33;
}

#toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.6s;
  z-index: 1000;
}

#toast.success {
  background-color: #4caf50;
}

#toast.error {
  background-color: #f44336;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #ff4500;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.16);
  transition: 0.3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #000000;
  cursor: pointer;
}

.slider-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #c6cace;
  box-shadow: 0px 1px 2px 0px #1f1e241f;
}

.range-value-input {
  text-align: center;
  border-radius: 5px;
  border: none;
  width: 30px;
  padding: 3px;
  display: inline-block;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.8em;
}

#response_container pre,
#results pre {
  margin: 0;
  font-size: 1em;
  font-family: "Helvetica Neue", serif;
  white-space: pre-wrap;
  word-wrap: break-word;
}

#response_container,
#results {
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}

#user_query {
  font-family: "Helvetica Neue", serif;
  margin-bottom: 10px;
}

.history-entry {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.history-entry pre {
  margin-left: 10px;
  display: inline;
  font-family: "Helvetica Neue", serif;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.history-delimiter {
  border: 1px solid #ccc;
  margin: 20px 0;
}

#query-results-section {
  overflow-y: auto;
  min-height: 100%;
  max-height: 100%;
  border-radius: 5px;
  padding: 100px 100px 100px 180px;
}

#query-results-section p {
  margin-top: 0;
  font-size: 1em;
}

#update-preferences-form,
#docs-preferences-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.doc-select {
  display: flex;
  align-items: center;
}

#preference-submit,
#docs-preferences-submit {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 1em;
  padding: 12px 24px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff4500;
  color: #fff;
  transition: background-color 0.3s ease;
}

#preference-submit:hover,
#docs-preferences-submit:hover {
  background-color: #ff6b33;
}

#docs-preferences-form ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 300px;
}

.knowledge-select {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.document-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.doc-info p,
#title-edit,
#author-edit {
  font-size: 0.8em;
  background-color: transparent;
  margin: 0;
  color: #333;
  padding: 0;
}

#title-edit {
  color: #ff4500;
  font-weight: bold;
}

#author-edit {
  color: #666;
  font-style: italic;
}

.doc-select input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.docs-settings-popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #333;
  font-size: 0.8em;
  white-space: nowrap;
}

#image-upload-section {
  margin-top: 20px;
}

.advanced-settings-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  color: #ff4500;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.advanced-settings-toggle:hover {
  color: #ff6b33;
}

.advanced-settings-toggle i {
  transition: transform 0.3s ease;
}

.advanced-settings-toggle i.fa-times {
  transform: rotate(180deg);
}

#resetPreferences {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#resetPreferences:hover {
  background-color: #ff5722;
}

.side-menu {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  color: #333;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #ff4500;
}

.panel {
  position: fixed;
  left: 60px;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
}

#imageUploadPanel.panel {
  padding: 10px;
  border: 2px dashed #ff4500;
  justify-content: center;
  align-items: center;
}

.image-upload-label {
  color: #ff6b33;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.image-upload-label:hover {
  background-color: #ff6b33;
}

.image-upload-label i {
  margin-right: 5px;
}

.image-preview-container {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

.image-preview {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.remove-image {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 69, 0, 0.8);
  color: #fff;
  border: none;
  border-radius: 20%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.remove-image:hover {
  background-color: rgba(255, 69, 0, 1);
}

.remove-image::before {
  line-height: 1;
}

.image-preview:hover .remove-image {
  opacity: 1;
}

.history-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.history-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-wrapper {
  width: 60%;
  border: 1px solid #ff6b33;
  font-family: "Helvetica Neue", sans-serif;
  border-radius: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#query {
  font-family: "Helvetica Neue", sans-serif;
  height: auto;
  resize: none;
  overflow-y: auto;
  max-height: 80px;
  line-height: 20px;
  min-height: 20px;
  margin-right: 20px;
  margin-left: 10px;
  border: none;
  padding: 0;
  width: 100%;
  font-size: 1.1rem;
  align-items: flex-start;
  flex-grow: 1;
}

#query:focus {
  outline: none;
}

#queryButton {
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
  color: #ff4500;
  padding: 0;
  padding-right: 10px;
  border: none;
  background: none;
  transition: color 0.3s ease;
}

#queryButton:hover {
  color: #ff6b33;
}

#query-input-section {
  width: 100%;
  z-index: 999;
  min-height: 75px;
}

.query-container {
  margin-right: auto;
}
.query-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

#query-results-section {
  overflow-y: auto;
  min-height: 100%;
  max-height: 100%;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#current-query > div {
  margin-bottom: 10px;
}

#current-query i {
  margin-right: 10px;
}

#user_query {
  font-family: "Helvetica Neue", serif;
}

.nuicon-user-robot,
.nuicon-user-tie {
  font-size: 1.5em;
}

.nuicon-user-robot {
  color: #ff4500;
}

.nuicon-user-tie {
  color: #ff6b33;
}

#ai_response {
  position: relative;
}

#documents_used {
  font-size: 0.8em;
  color: #666;
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

#response_images {
  margin-top: 10px;
}
