{% extends 'base.html' %} {% block head %}
<title>Reset Password | New Utility</title>
{% endblock %} {% block styles %} {% assets "reset_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %}
<div id="full-container">
  <div id="left-column">
    <div id="title-container">
      <h1>New Utility</h1>
      <h1>Nouvelle Utilité</h1>
      <h1>Neue Nützlichkeit</h1>
      <h1>Nuova Utilità</h1>
      <h2>Reset Pass</h2>
    </div>
  </div>
  {% if token %}
  <div class="form-container">
    <form
      id="password-reset-form"
      class="form"
      method="post"
      action="{{ url_for('auth_bp.reset_password', token=token) }}"
    >
      <input
        type="text"
        name="middle-name"
        id="middle-name"
        style="display: none"
      />
      <!-- Changed style to class for consistency -->
      <div class="input-group">
        <input
          type="password"
          name="password"
          id="password"
          class="input"
          placeholder="New Password"
          required
        />
      </div>
      <div class="input-group">
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          class="input"
          placeholder="Confirm Password"
          required
        />
      </div>
      <button class="submit" type="submit">Update</button>
      <div id="password-reset-message" class="message-container"></div>
    </form>
  </div>
  {% else %}
  <div class="form-container">
    <form
      id="password-reset-request-form"
      class="form"
      method="post"
      action="{{ url_for('auth_bp.reset_password_request') }}"
    >
      <input
        type="text"
        name="middle-name"
        id="middle-name"
        style="display: none"
      />
      <div class="input-group">
        <input
          type="email"
          id="email"
          name="email"
          class="input"
          placeholder="Email"
          required
        />
      </div>
      <button class="submit" type="submit">Send Email</button>
      <div id="password-reset-request-message" class="message-container"></div>
      <p class="reset-message">
        If e-mail is not received,
        <a
          rel="noopener noreferrer"
          href="{{ url_for('auth_bp.reset_password_request') }}"
          class=""
          >try requesting again.</a
        >
      </p>
    </form>
  </div>
  {% endif %}
</div>
{% endblock %}{% block page_instructions %} {{ tooltip|safe }} {% endblock %}{%
block scripts %} {% assets "reset_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
