{% extends 'base.html' %} {% block head %}
<title>New Utility | RAWCSAV</title>
<link href="https://newutility.rawcsav.com/" rel="canonical" />
{% endblock %} {% block styles %} {% assets "home_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %}
<div id="full-container">
  <div id="left-column">
    <div id="title-container">
      <h1>New Utility</h1>
      <h1>Nouvelle Utilité</h1>
      <h1>Neue Nützlichkeit</h1>
      <h1>Nuova Utilità</h1>
    </div>
    <ul class="button-list">
      <li>
        <button class="button">
          <a href="{{ url_for('auth_bp.signup') }}" class="button-link"
            >Sign Up</a
          >
        </button>
      </li>
      <li>
        <button class="button">
          <a href="{{ url_for('user_bp.dashboard') }}" class="button-link"
            >Login →</a
          >
        </button>
      </li>
    </ul>
  </div>
</div>
{% endblock %}{% block scripts %} {% assets "home_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
