body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#toast {
  position: fixed;
  bottom: 40px;
  left: 15%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.6s;
  z-index: 1000;
}

#toast.success {
  background-color: green;
}

#toast.error {
  background-color: red;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-color: #fafafa;
}

h1 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #ff7900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#left-column {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#title-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 3px solid #2a2a2a;
  margin-left: 10px;
  width: fit-content;
}

h2 {
  writing-mode: vertical-lr; /* Make the text vertical */
  font-family: "NeueMontreal", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #ff4500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#section-title {
  rotate: 180deg;
}

.section-title-div {
  margin: 0;
  border-right: 3px solid #2a2a2a;
  display: flex;
  height: fit-content;
  align-items: flex-start;
  margin-right: auto;
}

.main-row {
  gap: 30px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 80vh;
}

.utility {
  margin-right: auto;
  flex-direction: column;
}

.audio-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#tts-preferences-form,
#whisper-preferences-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.history-entry {
  cursor: pointer;
  margin-bottom: 10px;
}

.history-entry .history-summary {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.history-entry .history-details {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: none; /* Hidden by default */
  transition: all 0.3s ease;
}

/* Additional styling for audio player and download links */
.history-entry audio {
  width: 100%;
  margin-top: 10px;
}

.history-entry a {
  display: inline-block;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.history-entry a:hover {
  background-color: #0056b3;
}
