body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

.image-div {
  position: relative;
}

.delete-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  top: 0;
  z-index: 1;
  padding: 0 2px;
  border-radius: 20%;
  background-color: #dc3545; /* A color that usually signifies 'delete' or 'danger' */
  color: white; /* Contrast color for the icon */
  border: 1px solid transparent; /* Optional: in case you want a border */
  transition:
    background-color 0.2s,
    transform 0.2s; /* Smooth transition for hover effects */
}

.delete-icon:hover,
.delete-icon:focus {
  background-color: #bd2130; /* A darker shade for hover state */
  transform: scale(1.1); /* Slightly bigger on hover for a nice effect */
  outline: none; /* Removes the outline if the icon is focusable */
}

#toast {
  position: fixed;
  bottom: 40px;
  left: 15%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.6s;
  z-index: 1000;
}

#toast.success {
  background-color: green;
}

#toast.error {
  background-color: red;
}

.thumbnail {
  width: 50px; /* Or any other size */
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
}

#brown {
  position: relative;
  flex: 1;
  background-color: #e8e8e8;
  z-index: 2;
  width: 100%;
  overflow-x: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
}

.container {
  display: flex;
  height: calc(100vh - 30px);
}

.chat-container {
  padding: 0 20px 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fafafa;
  border-left: none;
  overflow-y: auto;
  flex: 5;
}

.conversation-entry {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.conversation-entry p,
.conversation-entry span {
  font-size: 18px;
  cursor: pointer;
}

.conversation-entry:hover p {
  transform: scale(1.05);
}

.messages {
  flex-grow: 1;
  background-color: #fafafa;
  border-radius: 8px;
  overflow-y: auto;
  margin-right: 125px;
  padding: 10px;
  margin-left: 125px;
}

#chat-completion-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: center;
}

/*noinspection CssUnusedSymbol*/
.system-message {
  text-align: left;
  font-style: italic;
  border-bottom: 1px solid #f3b61f;
  margin: 20px 0 0;
}

/*noinspection CssUnusedSymbol*/
.fa-clipboard,
.retry-icon {
  cursor: pointer;
}

/*noinspection CssUnusedSymbol*/
.fa-clipboard:hover,
.retry-icon:hover {
  transform: scale(1.1);
}

.message-input-container {
  position: relative;
  padding-top: 40px;
}

#thumbnail-div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-right: 10px;
}

#image-upload-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

/*noinspection CssUnusedSymbol*/
#new-convo-icon {
  cursor: pointer;
  font-size: 1.5em;
}

.form-group {
  margin-bottom: 25px;
}

#chat-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10%;
}

#chat-checkbox label {
  margin-bottom: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  height: 3px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #111;
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
}

h4 {
  width: fit-content;
  font-family: "NeueMontreal", serif;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  top: 0;
  text-align: center;
  color: #2a2a2a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-group {
  position: relative;
  display: flex;
}

pre {
  position: relative;
}

/*noinspection CssUnusedSymbol*/
.code-clipboard-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#chat-completion-form .input-group {
  width: 50%;
  border: 1px solid #141414;
  background-color: #f8f8f8;
  font-family: "Helvetica Neue", sans-serif;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hamburger-menu {
  color: #ff7900;
}

.top-banner {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
}
.message-input {
  font-family: "Helvetica Neue", sans-serif;
  height: auto;
  resize: none;
  overflow-y: auto;
  background-color: #f8f8f8;
  max-height: 80px;
  line-height: 20px;
  min-height: 20px;
  border: none;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  align-items: flex-start;
  flex-grow: 1;
}

.message-input:focus,
#convo-title:focus {
  outline: none;
}

/*noinspection CssUnusedSymbol*/
#send-button {
  margin: 0;
  border: none;
}

/*noinspection CssUnusedSymbol*/
.message-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

#update-preferences-form {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  overflow-y: auto;
  max-height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

#send-button i {
  font-size: 1rem;
}

.range-value-input:focus {
  outline: none;
}

#model {
  margin-top: 5px;
}

.preference-popup {
  display: none;
}

/*noinspection CssUnusedSymbol*/
.show {
  display: block;
}

.success {
  color: green;
}

.error {
  color: red;
}

.fa-edit {
  cursor: pointer;
}
.fa-edit:hover {
  transform: scale(1.05);
}

#preference-popup {
  display: none;
}

.message {
  font-family: "Helvetica Neue", sans-serif;
  color: #383737;
  background-color: #fafafa;
  font-size: 1.1rem;
  margin-top: 40px;
}

.message h1 {
  font-size: 2em;
}
.message h2 {
  font-size: 1.8em;
}
.message h3 {
  font-size: 1.6em;
}
.message h4 {
  font-size: 1.4em;
}

.message h6 {
  font-size: 1em;
}

.message h1,
.message h2,
.message h3,
.message h4,
.message h6 {
  font-family: "NeueMontreal", sans-serif;
  color: #654321;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.message a {
  color: #0069be;
  font-size: 1.1rem;

  text-decoration: none;
  border-bottom: 1px dotted #0069be;
}
.message a:hover {
  border-bottom-style: solid;
}

.message ul,
.message ol {
  font-size: 1rem;

  padding-left: 20px;
  margin-bottom: 10px;
}
.message li {
  font-size: 1rem;

  margin-bottom: 5px;
}

.message blockquote {
  border-left: 4px solid #ec9ca0;
  padding-left: 15px;
  margin: 10px 0;
  font-style: italic;
  background-color: #fafafa;
}

.message code,
.message pre {
  font-family: "IBMPlexMono", monospace;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 0.5em;
  overflow-x: auto;
  font-size: 1rem;
}

.message pre {
  margin-bottom: 1em;
  padding: 1em;
}

.message code {
  padding: 0.2em 0.4em;
}

.assistant-message h5,
.user-message h5 {
  text-align: left;
}

.assistant-message h5 {
  margin: 0;
  color: #ff4500;
}

.user-message h5 {
  margin: 0;
  color: #ff7900;
}

.system-message h5 {
  margin: 0;
  color: #f3b61f;
}
#conversation-container {
  height: 90%;
  max-height: 90%;
  text-align: center;
  width: 100%;
}

#conversation-history {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

#options {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

#options-container {
  border-bottom: 1px solid #654321;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

h3 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  margin: 0 0 10px;
  top: 0;
  text-align: center;
}

#options-container h3 {
  font-size: 18px;
}

#options-container i {
  color: #4f9d69;
}

#conversation-container h3,
#preference-popup h3,
#docs-settings-popup h3 {
  font-size: 18px;
}

.options-button,
.button-send {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-button i,
.button-send i {
  font-size: 1.2em;
  transition:
    color 0.2s,
    transform 0.2s;
}

.button-send:hover {
  transform: scale(1.1);
  color: #45a049;
}

.options-button:hover i {
  color: #555;
}

#show-history-btn.active i,
#show-preferences-btn.active i,
#docs-preferences-btn.active i {
  color: #ff4500;
}

.system-message p {
  font-size: 12px;
}

.message h5 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 1.2rem;
  margin-right: auto;
}

.user-message i {
  color: #ff7900;
}

.assistant-message i {
  color: #ff4500;
}

.system-message i {
  color: #f3b61f;
}

.message-content p {
  margin: 0;
}

.message i {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.message:hover i {
  opacity: 1;
}

.user-message .message-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue", sans-serif;
}

#title-edit {
  font-family: "NeueMontreal", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  background-color: transparent;
  color: #654321;
  max-width: 100px;
}

#author-edit,
.editable-container p {
  font-size: 14px;
  background-color: transparent;
  color: #654321;
  margin: 0;
  padding: 0;
  max-width: 100px;
  overflow-y: hidden;
}

output {
  display: inline-block;
  padding: 0 5px;
  font-size: 0.9em;
  line-height: 1.5em;
  height: 1.5em;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 10px;
}

#update-preferences-form,
#docs-preferences-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#preference-submit,
#docs-preferences-submit {
  margin-left: auto;
  margin-right: auto;
  background: #ec9ca0;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 12px;
  border: 3px solid #2a2a2a;
  border-radius: 0.4em;
  cursor: pointer;
  box-shadow: 0.1em 0.1em;
  margin-bottom: 20px;
}

#preference-submit:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#preference-submit:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.docs_list li {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

#docs-preferences-form ul {
  padding: 0;
  margin: 0 0 25px;
}

.knowledge-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.document-item {
  display: flex; /* Flex layout for horizontal alignment */
  justify-content: space-between; /* Space out the document info and the select checkbox */
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd; /* Border for separation between items */
}

.doc-info p,
#title-edit,
#author-edit {
  font-size: 14px; /* Font size for document info text */
  background-color: transparent; /* Transparent background for editable fields */
  color: #654321; /* Text color for consistency */
  margin: 0; /* No margin for compact layout */
  padding: 0; /* No padding to align text to the edges */
}

#author-edit {
  font-style: italic; /* Italic style for author names */
}

#loader-template {
  margin-left: auto;
  margin-right: auto;
}

.doc-select input[type="checkbox"] {
  margin-right: 5px; /* Right margin for spacing next to the label */
}

.range-value-input {
  text-align: center; /* Center the text inside the input */
  border: none;
  background-color: #fafafa;
  border-radius: 10px;
  font-size: 12px;
  width: 20%;
  display: inline-block;
  font-family: "Helvetica Neue", sans-serif;
}

/* Step 4: Update styling for the edit icon */
.edit-conversation-title {
  cursor: pointer;
  margin-left: 10px;
  color: #007bff; /* Bootstrap info color for consistency */
}
