body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Ensures no scrolling */
}
.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-color: #faf5e6; /* Retro Cream */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

h1 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 5em;
  font-weight: 900;
  margin: 0;
  top: 0;
  text-align: center;
  color: #faf5e6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #654321;
}

h2 {
  font-family: "Neue Haas Grotesk Display Pro", serif;
  font-weight: 500;
  font-size: 2em;
  margin: 0;
  top: 0;
  text-align: center;
  color: #faf5e6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #141414;
}

.shape {
  position: absolute;
  border: 5px solid #141414; /* Example border color */
}

#pink {
  background-color: #ec9ca0; /* Brown */
  top: 1vh;
  left: 0;
  padding: 10px;
  transform: rotate(-10deg);
  z-index: -1;
  /* Apply a shape class */
}
/* Specific shapes with dimensions */
.rectangle {
  z-index: 1;
}
.rectangle h1 {
  font-size: 4em;
}
.rectangle h2 {
  font-family: "ITCGaramondStd-UltNarrowIta", serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #654321;
  font-size: 3em;
}

#purple {
  background-color: #9b5de5; /* Purple */
  top: 4vh;
  left: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  padding: 10px;
  transform: rotate(10deg);
}
.small-square {
  width: 10vw;
  height: 10vw;
}
.tall-rectangle {
  width: 20vw;
  position: relative; /* Ensure that absolute positioning is relative to this container */
  flex: 1;
}
#brown {
  background-color: #fefdf9; /* Red */
  border: 5px solid #654321; /* Example border color */
  border-radius: 5px;
  display: flex;
  z-index: 2;
  max-height: 100%;
  overflow-y: auto;
}
.homepage-dash {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.homepage-dash a {
  text-decoration: none;
  color: #faf5e6;
  pointer-events: visible;
  z-index: 10;
}

/* static/css/chat.css */
.container {
  display: flex;
  height: 90vh;
  padding: 40px;
  gap: 20px;
}

.sidebar {
}

.chat-container {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fefdf9;
  border: 5px solid #654321;
  border-radius: 8px;
  overflow-y: auto;
  flex: 3;
}

.messages {
  flex-grow: 1;
  background-color: #fefdf9;
  border-radius: 8px;
  padding: 20px;
  overflow-y: auto;
}

.user-message {
  background-color: #007bff;
  color: white;
  text-align: right;
}

.error-message {
  background-color: #dc3545;
  color: white;
  text-align: right;
}

#chat-completion-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: baseline;
}
.system-message {
  background-color: #e1e1e1;
  text-align: left;
}

.message-input-container {
  position: relative;
}

#new-convo-icon {
  cursor: pointer;
  font-size: 1.5em;
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: 1em;
  font-family: Univers, sans-serif;
}

#chat-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10%;
}

#chat-checkbox label {
  margin-bottom: 0;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #111;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #333;
}

output {
  display: inline-block;
  padding: 0 5px;
  font-size: 0.9em;
  line-height: 1.5em;
  height: 1.5em;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 10px;
}

h4 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 2em;
  font-weight: 900;
  margin: 0;
  top: 0;
  text-align: center;
  color: #0069be;
}

.input-group {
  position: relative;
  display: flex;
}

#chat-completion-form .input-group {
  width: 50%;
}

.message-input {
  border: 1px solid #383737;
  min-height: 25px;
  font-family: Univers, sans-serif;
  max-height: 100px; /* Maximum size for 3 lines of text */
  overflow-y: auto; /* Show scrollbar when content exceeds max-height */
  line-height: normal;
  align-items: flex-start; /* If using flex or grid, align items to the start */
  flex-grow: 1;
  border-radius: 4px 0 0 4px; /* Rounded corners on the left side */
  border-right: none; /* Hide the right border to blend with the button */
}

#send-button {
  border-radius: 0 4px 4px 0; /* Rounded corners on the right side */
  margin: 0; /* Remove any default margin */
  background-color: transparent; /* Match the input's border */
  border: 1px solid #383737; /* Match the input's border */
  border-left: none; /* Hide the left border to blend with the input */
  /* Other styles as needed */
}

#update-preferences-form {
  display: flex;
  flex-direction: column;
  padding: 20px;

  align-items: center;
  justify-content: space-evenly;
}
#send-button i {
  font-size: 1rem; /* Adjust icon size as needed */
}

.range-value-input {
  border: none;
  background-color: #faf5e6;
  border-radius: 10px;
  text-align: center;
  width: 20%; /* Adjust the width as needed */
  display: inline-block;
  font-family: "Univers", sans-serif; /* Match the font of other inputs */
}

.range-value-input:focus {
  outline: none;
}

.info-icon {
  width: 16px; /* Adjust the size as needed */
  height: auto; /* Adjust the size as needed */
  margin-left: 5px; /* Adjust spacing as needed */
  vertical-align: middle; /* Aligns the icon with the text */
  cursor: pointer; /* Changes cursor to indicate it's interactive */
}

/* Tooltip container */
.tooltip-container {
  position: relative;
  z-index: 10;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

/* Preference Popup styles */
.preference-popup {
  display: none; /* Hidden by default */
}

/* Show class to reveal the popup */
.show {
  display: block;
}

.success {
  color: green;
}

.error {
  color: red;
}

/* Tooltip text */
.tooltip-container .tooltip-text {
  visibility: hidden;
  font-size: 12px;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-left: -60px;
  z-index: 10;
}

/* Show the tooltip text when you hover over the tooltip container */
.tooltip-container:hover .tooltip-text {
  visibility: visible;
  z-index: 10;
}

#preference-submit {
  background: #ec9ca0;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 12px;
  border: 3px solid black;
  border-radius: 0.4em;
  cursor: pointer;
  box-shadow: 0.1em 0.1em;
}

#preference-submit:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#preference-submit:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#preference-popup {
  display: none; /* Hide preferences on page load */
}
