/* Base Styles */
body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  padding: 30px;
  background-color: #f8f9fa;
  margin: 0;
  color: #333;
  line-height: 1.6;
}

.homepage-link {
  position: absolute;
  top: 1px;
  left: 3px;
}

.homepage-link img {
  height: 80px;
  transition: transform 0.3s;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

.custom-line {
  border: none;
  height: 2px;
  background-color: black;
  margin: 5px 0;
  width: 100%;
  clear: both;
  display: block;
}

h1,
h2,
h3 {
  margin-top: 0;
}

/* Adjusted Base Styles */
h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

h3 {
  font-size: 1.2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

/* Smaller Buttons and Inputs */
input[type="text"],
input[type="file"],
#query {
  padding: 8px 12px;
  margin-bottom: 8px;
  font-size: 0.8em;
}

input[type="submit"],
button {
  padding: 8px 15px;
  font-size: 0.8em;
}

#results {
  width: 80%;
}

#response_container pre {
  margin: 0;
  display: inline;
  font-family: "Helvetica Neue", serif;
  white-space: pre-wrap; /* This will make the content wrap */
  word-wrap: break-word;
}

#results pre {
  font-family: "Helvetica Neue", serif;
  white-space: pre-wrap; /* This will make the content wrap */
  word-wrap: break-word; /* This will break long words onto the next line */
}

/* Side-by-side layout for uploaded docs and query */
#content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#docSelectionForm,
#query-section {
  flex: 1;
  min-width: calc(50% - 10px); /* subtract half the gap */
}

#user_query {
  font-family: "Helvetica Neue", serif;
  margin-bottom: 10px;
}

.setup-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.instructions-container {
  align-content: flex-start;
  flex: 1;
  background-color: #f9f9f9;
  order: -1; /* Makes this the first item in the flexbox */
}

.instructions-container #instruction_body {
  font-size: 0.7em !important;
}

.form-container {
  flex: 1;
}

.docs-query-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 18%;
}

#input-and-docs-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-basis: 20%;
  max-width: 20%;
}

#uploaded-docs-section {
  flex: 1;
}

#query-section {
  font-size: 1em;
  flex-grow: 1;
  width: 80%;
  padding: 0 10px; /* add some padding to create space around the text */
  margin-right: 5%;
  margin-left: 5%;
}

.bold {
  font-weight: bold !important;
}

.footer {
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
}
