/* Base Styles */
body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  padding: 30px;
  background-color: #b7b1b1ff;
  margin: 0;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
/* This will push the footer to the bottom if there's available space */
.content-wrap {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
}

.homepage-link {
  position: absolute;
  top: 1px;
  left: 3px;
  cursor: pointer;
}

.homepage-link img {
  height: 60px;
  width: auto;
  transition: transform 0.3s;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

.custom-line {
  border: none;
  height: 2px;
  background-color: black;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  clear: both;
  display: block;
}

h1,
h2,
h3 {
  margin-top: 0;
}

/* Adjusted Base Styles */
h1 {
  font-size: 1.8em;
  font-color: #000;
  text-align: center;
  margin-bottom: 30px;
  margin-top: -5px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}

h3 {
  font-size: 1.2em;
  border-bottom: 1px solid #000;
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Smaller Buttons and Inputs */
input[type="text"],
#query {
  padding: 8px 8px;
  margin-bottom: 7px;
  font-size: 0.7em;
}

input[type="submit"],
button {
  padding: 8px 8px;
  font-size: 0.7em;
}

.setup-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.instructions-container {
  align-content: flex-start;
  flex: 1;
  background-color: #b7b1b1ff;
  order: -1; /* Makes this the first item in the flexbox */
}

.instructions-container #instruction_body {
  font-size: 0.7em !important;
}

.form-container {
  flex: 1;
}

.docs-query-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
  margin-top: 10px;
  min-height: 0;
}

.docs-container {
  flex: 3;
  width: calc(30% - 10px);
  max-width: calc(30% - 10px);
}

#uploaded_docs_list {
  padding: 0;
  margin: 0;
  width: 90%;
  max-width: 90%;
  overflow-y: auto;
  height: calc(100vh - 360px);
  max-height: calc(100vh - 360px);
}

input[type="checkbox"] {
  padding-left: 5px;
  margin-right: 10px;
}

#uploaded_docs_list li {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
  font-size: 0.9em;
  display: flex; /* Use flexbox for layout */
}

#uploaded_docs_list li div {
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  width: 90%;
  max-width: 90%; /* adjust as needed */
}

#docSelectionForm {
  border-right: #000000 1px solid;
  border-left: #000000 1px solid;
  border-bottom: #000000 1px solid;
}

#uploaded_docs_list li input[type="checkbox"] {
  margin-right: 10px;
}

.query-container {
  flex: 7;
  width: calc(70% - 10px);
  max-width: calc(70% - 10px);
}

#queryStatus {
  margin-top: 10px;
  font-size: 0.9em;
  color: #000000;
}

#response_container pre {
  margin: 0;
  display: inline;
  font-family: "Helvetica Neue", serif;
  white-space: pre-wrap; /* This will make the content wrap */
  word-wrap: break-word;
}
#response_container {
  font-size: 0.9em;
  width: 90%;
  max-width: 90%;
}
#results pre {
  font-family: "Helvetica Neue", serif;
  white-space: pre-wrap; /* This will make the content wrap */
  word-wrap: break-word; /* This will break long words onto the next line */
}

.input-container {
  bottom: 60px;
  position: fixed;
  width: calc(100% - 60px);
  max-width: calc(100% - 60px);
}

#query-input-section {
  background-color: #b7b1b1ff;
  z-index: 999;
  margin-left: auto;
  width: calc(70% - 10px);
  max-width: calc(70% - 10px);
}

#user_query {
  font-family: "Helvetica Neue", serif;
  margin-bottom: 10px;
}

#query-input-section input[type="text"] {
  margin-top: 5px;
  width: 85%;
  padding-top: 12px;
  padding-bottom: 12px;
  border: #333 1px solid;
  margin-left: auto;
  margin-right: 5px;
  font-size: 0.8em;
}

#queryButton {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 0.8em;
  margin-left: 30px;
}
#query-results-section {
  height: calc(100vh - 420px);
  max-height: calc(100vh - 420px);
  overflow-y: auto;
  padding-left: 5px;
  border-right: #000000 1px solid;
  border-left: #000000 1px solid;
  border-bottom: #000000 1px solid;
}

#query-results-section p {
  margin-top: 5px;
  font-size: 0.9em;
}

#query-input-section button {
  flex-shrink: 0;
}

.bold {
  font-weight: bold !important;
}

.alert-danger {
  color: red;
}
.alert-success {
  color: green;
}

.alert-info {
  color: blue;
}

.footer {
  width: calc(100% - 60px);
  height: 50px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.footer p {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  padding-left: 0;
  text-align: center;
  font-size: 0.8em;
  color: #000000;
}
