body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-color: #faf5e6;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

h1 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 5em;
  font-weight: 900;
  margin: 0;
  top: 0;
  text-align: center;
  color: #faf5e6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #654321;
}

h2 {
  font-family: "Neue Haas Grotesk Display Pro", serif;
  font-weight: 500;
  font-size: 2em;
  margin: 0;
  top: 0;
  text-align: center;
  color: #faf5e6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #141414;
}

.shape {
  position: absolute;
  border: 5px solid #141414;
}

#pink {
  background-color: #ec9ca0;
  top: 1vh;
  left: 0;
  padding: 10px;
  transform: rotate(-10deg);
  z-index: -1;
}

.rectangle {
  z-index: 1;
}
.rectangle h1 {
  font-size: 4em;
}
.rectangle h2 {
  font-family: "ITCGaramondStd-BdCondIta", serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #654321;
  font-size: 3em;
}

#purple {
  background-color: #9b5de5;
  top: 4vh;
  left: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  padding: 10px;
  transform: rotate(10deg);
}
.small-square {
  width: 10vw;
  height: 10vw;
}
.tall-rectangle {
  width: 20vw;
  position: relative;
  flex: 1;
}
#brown {
  background-color: #fefdf9;
  border: 5px solid #654321;
  border-right: 2px solid #654321;
  z-index: 2;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
}
.homepage-dash {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.homepage-dash a {
  text-decoration: none;
  color: #faf5e6;
  pointer-events: visible;
  z-index: 10;
}

.container {
  display: flex;
  height: calc(100vh - 30px);
}

.sidebar {
}

.chat-container {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fefdf9;
  border: 5px solid #654321;
  border-left: none;
  overflow-y: auto;
  flex: 5;
}

.conversation-entry {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.conversation-entry p,
.conversation-entry span {
  font-size: 12px;
  cursor: pointer;
}

.conversation-entry:hover p {
  transform: scale(1.05);
}

.messages {
  flex-grow: 1;
  background-color: #fefdf9;
  border-radius: 8px;
  overflow-y: auto;
  margin-right: 50px;
  margin-left: 50px;
}

.error-message {
  background-color: #dc3545;
  color: white;
  text-align: right;
}

#chat-completion-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: baseline;
}
.system-message {
  text-align: left;
  font-style: italic;
  border-bottom: 1px solid #9b5de5;
  margin-bottom: 10px;
}
.fa-clipboard {
  cursor: pointer;
}

.fa-clipboard:hover {
  transform: scale(1.1);
}

.message-input-container {
  position: relative;
  padding-top: 20px;
  padding-bottom: 10px;
}

#new-convo-icon {
  cursor: pointer;
  font-size: 1.5em;
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: 12px;
  font-family: Univers, sans-serif;
}

#chat-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10%;
}

#chat-checkbox label {
  margin-bottom: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  height: 3px;
  border-radius: 5px;
  background: #ddd;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #111;
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background: #333;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
}

output {
  display: inline-block;
  padding: 0 5px;
  font-size: 0.9em;
  line-height: 1.5em;
  height: 1.5em;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 10px;
}

h4 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 2em;
  font-weight: 900;
  margin: 0;
  display: inline-block;
  top: 0;
  color: #0069be;
}

.input-group {
  position: relative;
  display: flex;
}

pre {
  position: relative;
}

.code-clipboard-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

#chat-completion-form .input-group {
  width: 60%;
  border: 1px solid #383737;
  background-color: #f8f8f8;
  font-family: Univers, sans-serif;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-banner {
  text-align: center;
}
.message-input {
  font-family: Univers, sans-serif;
  height: auto;
  resize: none;
  overflow-y: auto;
  background-color: #f8f8f8;
  max-height: 80px;
  line-height: 20px;
  min-height: 20px;
  border: none;
  padding: 0;
  width: 100%;
  align-items: flex-start;
  flex-grow: 1;
}

.message-input:focus,
#convo-title:focus {
  outline: none;
}

#send-button {
  margin: 0;
  border: none;
}

.message-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

#update-preferences-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}

#send-button i {
  font-size: 1rem;
}

.range-value-input {
  border: none;
  background-color: #faf5e6;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  width: 20%;
  display: inline-block;
  font-family: "Univers", sans-serif;
}

.range-value-input:focus {
  outline: none;
}

#model {
  margin-top: 5px;
}

.info-icon {
  width: 14px;
  height: auto;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.tooltip-container {
  position: relative;
  z-index: 10;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.preference-popup {
  display: none;
}

.show {
  display: block;
}

.success {
  color: green;
}

.error {
  color: red;
}

.fa-edit {
  cursor: pointer;
}
.fa-edit:hover {
  transform: scale(1.05);
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  font-size: 12px;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  bottom: 100%;
  right: 0;
  margin-left: -60px;
  z-index: 10;
}

#preference-submit {
  background: #ec9ca0;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 12px;
  border: 3px solid black;
  border-radius: 0.4em;
  cursor: pointer;
  box-shadow: 0.1em 0.1em;
}

#preference-submit:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#preference-submit:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#preference-popup {
  display: none;
}

.message {
  font-family: "Univers", sans-serif;
  color: #383737;
  background-color: #fefdf9;
  line-height: 1.5;
}

.message h1 {
  font-size: 2em;
}
.message h2 {
  font-size: 1.8em;
}
.message h3 {
  font-size: 1.6em;
}
.message h4 {
  font-size: 1.4em;
}
.message h5 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 1.1em;
  margin-right: auto;
}
.message h6 {
  font-size: 1em;
}

.message h1,
.message h2,
.message h3,
.message h4,
.message h6 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  color: #654321;
  outline: none;
  margin-top: 20px;
  margin-bottom: 10px;
}

.message p {
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 5px;
}

.message a {
  color: #0069be;
  text-decoration: none;
  border-bottom: 1px dotted #0069be;
}
.message a:hover {
  border-bottom-style: solid;
}

.user-message {
  font-size: 14px;
}

.message {
  font-size: 14px;
}
.message ul,
.message ol {
  padding-left: 20px;
  margin-bottom: 10px;
}
.message li {
  margin-bottom: 5px;
}

.message blockquote {
  border-left: 4px solid #ec9ca0;
  padding-left: 15px;
  margin: 10px 0;
  font-style: italic;
  background-color: #faf5e6;
}

.message code,
.message pre {
  font-family: "IBMPlexMono", monospace;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 0.5em;
  overflow-x: auto;
  font-size: 12px;
}

.message pre {
  margin-bottom: 1em;
  padding: 1em;
}

.message code {
  padding: 0.2em 0.4em;
}

.assistant-message h5,
.user-message h5 {
  text-align: left;
}

.assistant-message h5 {
  margin: 0;
  color: #00a86b;
}

.assistant-message,
.user-message {
  margin-bottom: 10px;
}

.user-message h5 {
  margin: 0;
  color: #0069be;
}

.system-message h5 {
  margin: 0;
  color: #9b5de5;
}
#conversation-container {
  height: 90%;
  max-height: 90%;
  text-align: center;
  width: 100%;
}

#conversation-history {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

#options {
  margin-bottom: 5px;
}
#conversation-history-status,
#preference-messages {
  font-size: 12px;
  margin: 10px;
  margin-top: 15px;
  font-style: italic;
}

#options-container {
  border-bottom: 1px solid #654321;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

h3 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  margin: 0;
  margin-bottom: 10px;
  top: 0;
  text-align: center;
}

#options-container h3 {
  font-size: 18px;
  color: #cd2000;
}

#conversation-container h3,
#preference-popup h3 {
  font-size: 18px;
  color: #ed872d;
}

.options-button,
.button-send {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-button i,
.button-send i {
  font-size: 1.2em;
}

.button-send:hover {
  transform: scale(1.1);
  color: #45a049;
}

#options {
  display: flex;
  justify-content: center;
}

.options-button i,
.button-send i {
  transition:
    color 0.2s,
    transform 0.2s;
}

.options-button:hover i {
  color: #555;
}

#show-history-btn.active i,
#show-preferences-btn.active i {
  color: #cd2000;
}

.system-message p {
  font-size: 12px;
}
.message h5 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 1.1em;
  margin-right: auto;
}
