body {
  overflow: hidden;
}
.container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  width: 96%;
  gap: 50px;
  max-width: 100%;
  justify-content: center;
}

h2 {
  display: inline-block; /* This will shrink the element to the width of its content */
  border-bottom: 1px solid #d4af37; /* Your desired border color */
  font-size: 25px;
  margin-top: 0;
  padding-bottom: 0;
}

h3 {
  color: #5b92e5;
}

label {
  color: #5b92e5;
}

.profile-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 50px;
}
.user-functions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 60px;
}
#welcome {
  color: #d4af37;
  border-bottom: none;
  font-size: 40px;
  margin-bottom: 10px;
  padding: 0;
}

h1 img {
  height: 100px; /* or the size that fits well with your layout */
  vertical-align: middle; /* to align with the text */
}

.key-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 11;
  background-color: rgba(242, 242, 242, 0.7);
  border-radius: 5px;
  padding: 10px;
  min-width: 250px;
  max-width: 250px;
  max-height: 300px;
  overflow: auto;
}

.change-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: rgba(242, 242, 242, 0.7);
  border-radius: 5px;
  padding: 10px;
  min-width: 200px;
  max-width: 200px;
}

#api-key-messages {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}

#api-key-messages.success {
  background-color: #4caf50; /* Green for success */
}

#api-key-messages.error {
  background-color: #f44336; /* Red for error */
}

.retest-key-button,
.delete-key-button,
.select-key-button {
  background: transparent;
  color: #333333;
  border: none;
  cursor: pointer;
}

.key-list {
  display: flex;
  margin: 0;
}

.dropdown-button {
  background-color: #5b92e5; /* Choose a background color */
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  border: none;
  align-items: center;
  justify-content: space-between;
  font-family: Window-Book, sans-serif;
  max-width: 100%;
}
.dropdown-button:hover {
  background-color: #71a2ef; /* Darken the button on hover */
}

.dropdown-button i {
  margin-left: 10px; /* Space between text and arrow */
}

/* Rotate the arrow icon when the form is visible */
.dropdown-button.active i {
  transform: rotate(180deg);
}

.save-api-key-button {
  background-color: #4caf50; /* Green background for a save button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-api-key-button:hover {
  background-color: #43a047; /* Darken the button on hover */
}
ul {
  margin: 0;
}
.save-api-key-button i {
  margin-right: 5px; /* Space between icon and text */
}

.change-info input {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #333333;
  color: #333333;
}

a {
  text-decoration: none;
  color: unset;
  font-size: 0.8em;
}
.btn {
  background-color: #da291c;
  margin-top: 30px;
  max-width: 120px;
}
.submit-user {
  background-color: #4caf50; /* Green background for a save button */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.change-info button {
  max-width: 120px;
}

.submit-user:hover {
  background-color: #43a047; /* Darken the button on hover */
}

.username-change-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 300px;
  max-width: 300px;
}
#api-key-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.custom-line {
  height: 1px;
  width: 100%;
  margin-top: 10px;
}

.banner {
  width: 100%; /* maintain aspect ratio */
  max-height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10; /* make sure it's above other content */
  pointer-events: none; /* Allows clicks to pass through */
}

.banner img {
  width: 100%;
  height: auto;
  pointer-events: none; /* Allows clicks to pass through */
}

.redirect-links {
  background-color: rgba(
    242,
    242,
    242,
    0.7
  ); /* Your chosen color for the section */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px; /* Add space before the banner */
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 200px;
}

.redirect-links h2 {
  margin-bottom: 15px;
}

.redirect-links ul {
  list-style: none;
  padding: 0;
}

.redirect-links ul li {
  margin-bottom: 10px;
}

.redirect-links ul li a {
  color: #007bff; /* Bootstrap primary blue, for example */
  text-decoration: none;
  transition: color 0.3s ease;
}

.redirect-links ul li a:hover {
  color: #0056b3; /* Darker blue on hover */
}

.selected-key {
  color: green; /* Color for selected key */
}
