body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Ensures no scrolling */
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-color: #faf5e6; /* Retro Cream */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

h1 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 5em;
  font-weight: 900;
  margin: 0;
  top: 0;
  text-align: center;
  color: #faf5e6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #654321;
}

h2 {
  font-family: "Neue Haas Grotesk Display Pro", serif;
  font-weight: 500;
  font-size: 2em;
  margin: 0;
  top: 0;
  text-align: center;
  color: #faf5e6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #141414;
}
.rectangle h1 {
  font-size: 10em;
}
.rectangle h2 {
  font-family: "ITCGaramondStd-UltNarrowIta", serif;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #654321;
  font-size: 5em;
}

/* Base shape styles */
.shape {
  position: absolute;
  border: 5px solid #141414; /* Example border color */
}

/* Specific shapes with dimensions */
.rectangle {
  width: 45vw;
  height: 40vh;
}

.key-rectangle {
  width: 25vw;
  height: 30vh;
}

.circle {
  width: 25vw;
  height: 25vw; /* Same value as width for a perfect circle */
  border-radius: 50%;
}

.info-square {
  height: 22vw; /* Same value as width for a square */
  width: 22vw;
}

.small-square {
  width: 18vw;
  height: 18vw;
}

.oval {
  width: 30vw;
  height: 35vh;
  border-radius: 50%;
}

.tall-rectangle {
  width: 25vw;
  height: 50vh;
  position: relative; /* Ensure that absolute positioning is relative to this container */
}

/* Specific shapes with placement and color */
#pink {
  background-color: #ec9ca0; /* Brown */
  top: 3vh;
  left: -5vw;
  transform: rotate(-20deg);
  z-index: 1;
  /* Apply a shape class */
}

#yellow {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  justify-content: flex-start;
  background-color: #ffdd00; /* Yellow */
  top: 44vh;
  left: 48vw;
  transform: rotate(5deg);
  z-index: 3;

  /* Apply a shape class */
}

#yellow h2 {
  margin-top: 20px;
}

#green {
  padding: 10px;
  background-color: #009b00; /* Cream */
  top: 48vh;
  left: 22vw;
  transform: rotate(2deg);
  z-index: 3;
  /* Apply a shape class */
}

#orange {
  background-color: #ed872d; /* Orange */
  top: 6vh;
  left: 40vw;
  transform: rotate(-5deg);
  z-index: 2;
  /* Apply a shape class */
}

#blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0069be; /* Blue */
  bottom: 60vh;
  right: 10vw;
  transform: rotate(8deg);
  z-index: 1;
  /* Apply a shape class */
}

#red {
  background-color: #cd2000; /* Red */
  top: 34vh;
  left: 72vw;
  position: absolute;
  padding: 10px;
  z-index: 2;
}

.painter {
  top: 10vh;
  position: absolute;

  right: 0;
  z-index: 2;
}

.painter img,
.key img {
  width: 240px;
  height: auto;
}

.key {
  position: absolute;
  bottom: -2vh;
  left: 25vw;
  rotate: 80deg;
}
#img-title {
  margin-bottom: 20px;
}

#purple {
  background-color: #9b5de5; /* Purple */
  top: 44vh;
  left: 6vw;
  transform: rotate(-40deg);
}

.homepage-dash {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.homepage-dash a {
  text-decoration: none;
  color: #faf5e6;
  pointer-events: visible;
  z-index: 10;
}
.user-functions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 60px;
}

.key-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  overflow-y: auto;
  justify-content: space-between;
}

.key-edits {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.change-info {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.reset-pass {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#username-change-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

#api-key-messages {
  font-size: 12px;
  text-align: center;
  color: #fff;
}

#api-key-messages.success {
  color: #fff;
}

#api-key-messages.error {
  color: #f44336;
}

.retest-key-button,
.delete-key-button,
.select-key-button {
  background: transparent;
  color: #e6d200;
  border: none;
  cursor: pointer;
}

.retest-key-button:hover,
.delete-key-button:hover,
.select-key-button:hover {
  color: #cd2000;
  transform: scale(1.1); /* Example for scaling up */
}

.key-list {
  color: #faf5e6;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-bottom: 2px solid #faf5e6;
  gap: 5px;
  margin-bottom: 15px;
}

.key-forms {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.dropdown-button {
  color: #faf5e6;
  background-color: #0069be;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  border: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.dropdown-button i {
  margin-left: 10px;
}

.dropdown-button.active i {
  transform: rotate(180deg);
}

.save-api-key-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 100px;
  white-space: nowrap;
}

.save-api-key-button:hover {
  background-color: #43a047;
}

.key-container ul {
  max-height: 80%;
  overflow-y: auto;
  margin: 0;
  margin-right: 45px;
}
.key-edits .dropdown-button {
  max-width: 100%;
}

.save-api-key-button i {
  margin-right: 5px;
}

.change-info input {
  max-width: 75%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #333333;
  color: #333333;
}

.user-change {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 10px;
}
.user-info {
  margin-bottom: 20px;
}
.user-info p {
  margin: 5px;
  font-size: 0.9em;
  color: #faf5e6;
  font-family: "Univers", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
  font-size: 0.8em;
}
.btn {
  background-color: #da291c;
}

.submit-user {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#api-key-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redirect-links {
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.redirect-links h2 {
  margin-bottom: 15px;
}

.redirect-links ul {
  padding: 0;
}

.redirect-links ul li {
  margin-bottom: 10px;
}

.redirect-links ul li a {
  max-width: 100%;
  white-space: nowrap;
  color: #e6d200;
  font-size: 1.3em;
  font-family: "Univers-CondensedBold", sans-serif;
  transition: color 0.3s ease;
  text-decoration: #cd2000 underline;
}

.redirect-links ul li a:hover {
  color: #0056b3;
}

.selected-key {
  color: #ed872d;
  font-size: 1.1em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1s infinite linear;
  color: #d4af37;
}

.dashboard-image-history {
  max-height: calc(100% - 20px);
  max-width: calc(100% - 20px);
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}
.image-history-carousel {
  /* Make the container scrollable */
  display: flex;
  flex-direction: column; /* Stack images vertically */
  max-height: 70%; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  padding: 5px;
}

.image-history-item {
  margin-bottom: 20px; /* Space between items */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons-container {
  display: flex;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.icons-container .image-icon {
  margin: 5px 10px; /* Add some space around the icons */
  text-decoration: none; /* Remove underline from anchor elements */
  color: #e6d200; /* Set a default color for the icons (change as needed) */
  font-size: 14px; /* Set the size of the icons (adjust as needed) */
}

.image-history-item img {
  /* Style images within items */
  width: 65%; /* Full width of the item */
  height: auto; /* Keep aspect ratio */
  border: 4px solid #141414;
  border-radius: 5px;
  cursor: pointer;
}

.image-history-item img:hover {
  transform: scale(1.05); /* Example for scaling up */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Example for shadow */
}
.key-info p {
  margin: 0;
  font-size: 0.8em;
  color: #faf5e6;
  font-family: "Univers", sans-serif;
}

.selected-key p {
  color: #ffffff;
  font-family: "Univers", sans-serif;
}

.selected-key-icon,
.selected-key .select-key-button i {
  color: #ed872d;
}

#title-edit {
  font-family: "Univers-CondensedBoldOblique", sans-serif;
  font-size: 18px;
  background-color: transparent;
  color: #654321;
}

#author-edit,
.editable-container p {
  font-size: 14px;
  background-color: transparent;
  color: #654321;
  margin: 0;
  padding: 0;
}

.is-editing {
  outline: 1px solid blue;
  background-color: #f0f0f0;
}

.edit-btn,
.btn-icon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}

.edit-btn i,
.btn-icon i {
  color: #555;
}

.editable-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center; /* Adjust as needed */
  align-items: center;
}

.update-form-button-container,
.delete-form-button-container {
  margin-right: 10px; /* Adjust spacing between button containers if needed */
}

.doc-upload,
.docs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.docs-container {
  overflow-y: auto;
  max-height: 100%;
  height: 60%;
}

#author-edit,
#title-edit {
  border: none;
  min-width: 200px;
}
