body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #fafafa;
}

.hamburger-menu {
  color: #ff7900;
}

#full-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 5px);
  border-bottom: 5px solid #ff4500;
}

h1 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #ff7900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#left-column {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#title-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 3px solid #2a2a2a;
  margin-left: 10px;
  width: fit-content;
}

#key-title {
  margin-left: auto;
  margin-right: auto;
}
h2 {
  writing-mode: vertical-lr; /* Make the text vertical */
  font-family: "NeueMontreal", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #ff4500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h3 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #2a2a2a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.homepage-link {
  display: none;
}
h4 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #2a2a2a;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-functions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 60px;
}

.key-edits {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 150px;
}

.key-edits input {
  max-width: 100%;
  overflow-x: hidden;
}
.change-info {
  margin-top: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-around;
}

#api-key-messages {
  font-size: 12px;
  text-align: center;
  color: #fff;
}

#api-key-messages.success {
  color: #fff;
}

#api-key-messages.error {
  color: #f44336;
}

.retest-key-button,
.delete-key-button,
.select-key-button,
.view-usage-button {
  background: transparent;
  color: #4f9d69;
  border: none;
  cursor: pointer;
}

.retest-key-button:hover,
.delete-key-button:hover,
.select-key-button:hover,
.view-usage-button:hover {
  color: #ff4500;
  transform: scale(1.1);
}

.key-list {
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #33312e;
  gap: 5px;
  margin: 0 0 15px;
  padding-right: 20px;
}

.key-forms {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#toast {
  position: fixed;
  bottom: 40px;
  left: 15%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.6s;
  z-index: 1000;
}

#toast.success {
  background-color: green;
}

#toast.error {
  background-color: red;
}

.dropdown-button {
  color: #fafafa;
  background-color: #0069be;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  border: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.dropdown-button i {
  margin-left: 10px;
}

.dropdown-button.active i {
  transform: rotate(180deg);
}

.save-api-key-button {
  background-color: #4caf50;
  color: #fafafa;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "NeueMontreal", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin: 0;
  border-radius: 5px;
  top: 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.save-api-key-button:hover {
  background-color: #43a047;
}

.key-container ul {
  max-height: 80%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  padding-right: 15px;
}
.key-edits .dropdown-button {
  max-width: 100%;
}

.save-api-key-button i {
  margin-right: 5px;
}

.change-info input {
  max-width: 75%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #333333;
  color: #333333;
}

.user-change {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px;
  margin-top: 10px;
}

#username-change-form {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

#new_user_input {
  max-width: 80%;
  border: 1px solid #4caf50;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-family: "NeueMontreal", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  padding: 6px;
}
.user-info {
  margin-bottom: 20px;
}
.user-info p {
  margin: 5px;
  font-size: 0.9em;
  color: #2a2a2a;
  font-family: "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  font-size: 0.8em;
  color: #333333;
}
.btn {
  background-color: #da291c;
}

.submit-user {
  background-color: #4caf50;
  color: #fafafa;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "NeueMontreal", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#api-key-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.redirect-links {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.redirect-links h2 {
  margin-bottom: 15px;
}

.redirect-links ul {
  padding: 0;
}

.redirect-links ul li {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

.redirect-links ul li a {
  max-width: 100%;
  white-space: nowrap;
  color: #4f9d69;
  font-size: 1em;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  transition: color 0.3s ease;
  text-decoration: #33312e underline;
}

.redirect-links ul li a:hover {
  color: #0056b3;
}

.selected-key {
  color: #ff7900;
  font-size: 1.1em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1s infinite linear;
  color: #d4af37;
}

.dashboard-image-history {
  overflow-y: auto;
}
.image-history-carousel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  gap: 15px;
}

.image-history-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons-container {
  display: flex;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.icons-container .image-icon {
  margin: 5px 10px;
  text-decoration: none;
  color: #4f9d69;
  font-size: 18px;
}

.image-history-item img {
  max-width: 60%;
  height: auto;
  border: 1px solid #141414;
  border-radius: 5px;
  cursor: pointer;
}

.image-history-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.key-info p {
  margin: 0;
  font-size: 1em;
  color: #2a2a2a;
  font-family: "Helvetica Neue", sans-serif;
}

.key-usage p {
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}
.selected-key .key-info p {
  color: #ff4500;
  font-family: "Helvetica Neue", sans-serif;
}

.utility-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
}

#key-name {
  font-weight: bold;
}
#key-tag,
#key-model {
  font-style: italic;
  font-size: 0.8em;
}
#key .selected-key p {
  color: #2a2a2a;
  font-family: "Helvetica Neue", sans-serif;
}

.selected-key-icon,
.selected-key .select-key-button i {
  color: #ff7900;
}

#title-edit {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  background-color: transparent;
  color: #ff7900;
}

.editable-container p {
  background-color: transparent;
  color: #2a2a2a;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

#author-edit {
  color: #ff4500;
}

.is-editing {
  outline: 1px solid blue;
  background-color: #f0f0f0;
}

.edit-btn,
.btn-icon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}

.edit-btn i,
.btn-icon i {
  color: #4f9d69;
}

.editable-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 5px;
}

.doc-upload,
.docs-container {
  display: flex;
  flex-direction: column;
}
.docs-container {
  align-items: center;
  height: 100%;
}

#author-edit,
#title-edit {
  border: none;
  font-weight: 700;
  font-family: "NeueMontreal", sans-serif;
}

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: 12px;
  font-family: "Helvetica Neue", sans-serif;
}

#chat-checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10%;
}

#chat-checkbox label {
  margin-bottom: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  height: 3px;
  border-radius: 5px;
  background: #ff7900;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2a2a2a;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #2a2a2a;
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background: #2a2a2a;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
}

output {
  display: inline-block;
  padding: 0 5px;
  font-size: 0.9em;
  line-height: 1.5em;
  height: 1.5em;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-left: 10px;
}

#update-preferences-form,
#docs-preferences-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 70%;
  overflow-y: scroll;
  margin-top: 10px;
}

#send-button i {
  font-size: 1rem;
}

.range-value-input {
  border: none;
  background-color: #ff7900;
  color: #ffffff;
  border-radius: 10px;
  font-size: 12px;
  display: inline-block;
  font-family: "Helvetica Neue", sans-serif;
  width: 50px; /* Fixed width for the percentage display */
  text-align: center; /* Center the text inside the input */
}

.range-value-input:focus {
  outline: none;
}

#model {
  margin-top: 5px;
}

.preference-popup {
  display: none;
}

.success {
  color: green;
}

.error {
  color: red;
}

.fa-edit {
  cursor: pointer;
}
.fa-edit:hover {
  transform: scale(1.05);
}

#preference-submit,
#docs-preferences-submit {
  margin-left: auto;
  margin-right: auto;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: -4px 4px var(--main-color);
  --bg-color: #ffffff;
  --main-color: #2a2a2a;
  font-family: "Helvetica Neue", sans-serif;
}

#preference-submit:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#preference-submit:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

#preference-popup,
#docs-settings-popup {
  display: none;
}

#conversation-history {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
}

#options,
#key-options,
#user-options {
  border-bottom: 1px solid #2a2a2a;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
}

#docs-edit-popup {
  width: 100%;
  height: 100%;
}

.options-button,
.button-send {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options-button i,
.button-send i {
  font-size: 1.2em;
  transition:
    color 0.2s,
    transform 0.2s;
}

.button-send:hover {
  transform: scale(1.1);
  color: #45a049;
}

#options {
  display: flex;
  justify-content: center;
}

.options-button:hover i {
  color: #555;
}

#docs-edit-btn.active i,
#show-preferences-btn.active i,
#docs-preferences-btn.active i,
#show-user-btn.active i,
#userinfo-btn.active i,
#userchange-btn.active i,
#keyslist-btn.active i,
#keyedits-btn.active i {
  color: #ff4500;
}
.docs-list-container {
  max-height: 80%; /* Maximum height to ensure some space from the top and bottom */
  overflow-y: auto; /* Enable vertical scroll if the content overflows */
  width: 100%; /* Full width of the containing element */
  max-width: 100%;
  overflow-x: hidden;
}

.docs_list {
  list-style: none; /* Remove default list styling */
  padding: 0; /* No padding to align items to the edges */
  margin: 10px 0 0;
  max-height: 70%;
  overflow-y: scroll;
  width: 100%;
}

.docs_list li {
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

#docs-preferences-form ul {
  padding: 0;
  margin: 0 0 25px;
}

.docs-settings-header {
  border-bottom: 1px solid #ddd; /* Border for separation from the list items */
}

.docs-settings-slider {
  display: flex; /* Flex layout for horizontal alignment */
  flex-direction: column;
  align-items: center; /* Align items vertically */
  gap: 5px;
  margin-bottom: 15px;
}

.docs-settings-controls {
  display: flex; /* Flex layout for horizontal alignment */
  flex-direction: column;
  gap: 15px;
}
.knowledge-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.document-item {
  display: flex; /* Flex layout for horizontal alignment */
  justify-content: space-between; /* Space out the document info and the select checkbox */
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd; /* Border for separation between items */
}

.docs-settings-check {
  display: flex;
  align-items: center;
  justify-content: center;
}

#docs-settings-popup {
  height: 100%;
}
.doc-info p,
#title-edit,
#author-edit {
  font-size: 14px; /* Font size for document info text */
  background-color: transparent; /* Transparent background for editable fields */
  margin: 0; /* No margin for compact layout */
  padding: 0; /* No padding to align text to the edges */
}

.doc-select input[type="checkbox"] {
  margin-right: 5px;
}

/* Scrollbar styling (optional) */
.docs-list-container::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.docs-list-container::-webkit-scrollbar-thumb {
  background: #ccc; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.docs-list-container::-webkit-scrollbar-track {
  background: #efefef; /* Color of the scrollbar track */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 50%;
}

.utility-settings {
  overflow-x: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: hidden;
  width: 20%;
  margin-top: 20px;
}

.lower-row {
  display: flex;
  flex-direction: row;
  gap: 60px;
  height: 80%;
  max-height: 80%;
  margin-bottom: auto;
}

.utility-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 30%; /* This will make the width of the parent fit its content */
  margin-top: 20px;
}

.profile-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 22%; /* This will make the width of the parent fit its content */
  margin-top: 20px;
}

.user-container,
.utility-settings,
.image-container,
.utility-container,
.key-container {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 5px;
  --font-color: #2a2a2a;
  --bg-color: #ffffff;
  --main-color: #2a2a2a;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.user-container {
  width: auto;
  max-width: 100%;
  height: 30%;
}

.key-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow-y: auto;
  width: auto; /* or use percentage */
  max-width: 100%; /* to ensure it doesn't overflow the parent */
  height: 50%;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

#section-title {
  rotate: 180deg;
}

.section-title-div {
  margin: 0;
  border-right: 3px solid #2a2a2a;
  display: flex;
  height: fit-content;
  align-items: flex-start;
}

.user-container a {
  max-width: fit-content;
}
