body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #fafafa;
  display: flex;
}

#toast {
  position: fixed;
  bottom: 40px;
  left: 15%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.6s;
  z-index: 1000;
}

#toast.success {
  background-color: green;
}

#toast.error {
  background-color: red;
}

.hamburger-menu {
  color: #ff7900;
}

h1 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #ff7900;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#left-column {
  display: flex;
  height: 100%;
  flex-direction: column;
  width: 100%;
}

#title-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 3px solid black;
  margin-left: 10px;
  width: fit-content;
}

h2 {
  writing-mode: vertical-lr; /* Make the text vertical */
  font-family: "NeueMontreal", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #ff4500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h3 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.homepage-link {
  display: none;
}

h4 {
  font-family: "NeueMontreal", sans-serif;
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  top: 0;
  text-align: center;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#section-title {
  rotate: 180deg;
}

.section-title-div {
  border-right: 3px solid black;
  display: flex;
  height: fit-content;
  align-items: flex-start;
  margin: 0 auto 0 0;
}

label {
  color: #4682b4;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  white-space: nowrap;
  font-size: 16px;
}

#uploadStatus {
  font-size: 16px;
  margin-top: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}

#uploadForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.upload-container {
  display: flex;
  height: 100%;
  max-height: 80%;
  flex-direction: row;
  justify-content: center; /* Aligns children vertically to the top */
  align-items: stretch;
  gap: 60px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #000000;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 90%;
  overflow-y: auto;
}

a {
  color: #333333;
  text-decoration: none;
}

.doc {
  position: absolute;
  bottom: 15vh;
  right: 15vw;
  rotate: -75deg;
  z-index: -1;
}

input {
  font-size: 16px;
  color: #000000;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#title-edit {
  font-weight: 700;
  font-family: "NeueMontreal", sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: #ff7900;
}

#author-edit {
  font-family: "NeueMontreal", sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: #ff4500;
  font-weight: 700;
}

.editable-container p {
  font-size: 14px;
  background-color: transparent;
  color: #000000;
  margin: 0;
  padding: 0;
}

.is-editing {
  outline: 1px solid blue;
  background-color: #f0f0f0;
}

.edit-btn,
.btn-icon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}

.edit-btn i,
.btn-icon i {
  color: #69995d;
}

.editable-container {
  display: flex;
  flex-direction: column;
}

ul li {
  color: #333333;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.docs-container li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.update-form-button-container,
.delete-form-button-container {
  margin-right: 10px;
}

.doc-upload,
.docs-container {
  display: flex;
  flex-direction: column;
}

.docs-container {
  overflow-y: auto;
  max-height: 100%;
  width: 15%;
  margin-top: 20px;
  margin-right: auto;
}

.doc-upload {
  padding: 20px;
  width: 30%; /* Adjust width as necessary, or use max-width for responsiveness */
  margin: 20px 0;
  border: 2px dashed #d0d0d0;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f9;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#author-edit,
#title-edit {
  padding: 0;
  border: none;
  min-width: 200px;
}

#embed-title {
  position: absolute;
}

.embed-column {
  display: flex;
  flex-direction: column;
  max-height: 100%; /* Adjust this value as needed */
}

#file-name-display {
  font-size: 14px;
  padding: 0;
  text-align: center;
  font-style: italic;
  margin: 0 0 15px;
}

#info-list,
#token-limits-list,
#info-list li,
#token-limits-list li {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  list-style: none;
  padding-left: 0;
}

#info-list li,
#token-limits-list li {
  margin-bottom: 10px;
}

#token-limits-list li strong {
  font-family: "NeueMontreal", sans-serif;
  font-weight: 700;
  font-style: italic;
  display: inline-block;
  margin-right: 10px;
}

#info-list li::before,
#token-limits-list li::before {
  content: "•";
  color: #4f9d69;
  display: inline-block;
  width: 20px;
  margin-left: -20px;
}

/* File Upload Button */
.file-upload-btn {
  display: flex;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  gap: 15px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  font-family: "Helvetica Neue", sans-serif;
  justify-content: center;
  width: fit-content;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.file-upload-btn:hover,
.file-upload-btn:focus {
  background-color: #3949ab;
}

/* Submit Button */
.doc-submit-btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  margin: 20px 0;
  transition: background-color 0.3s ease;
  display: none; /* Hide button initially */
  gap: 15px;
  align-items: center;
}

.doc-submit-btn:hover {
  background-color: #218838;
}

/* Pagination Controls */
#pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagination-controls button {
  margin: 0 30px;
  color: #2081c3;
  border: none;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  font-size: 16px; /* Adjust icon size if necessary */
}

.doc-submit-btn:disabled,
.file-upload-btn:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 105, 190, 0.5);
}

input:focus {
  border-color: #0069be;
  box-shadow: 0 0 0 2px rgba(0, 105, 190, 0.2);
}

.token-limits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 15%;
}

.token-limits,
.docs-container {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 5px;
  --font-color: #000000;
  --bg-color: #fafafa;
  --main-color: #000000;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

#pagination-controls button:hover,
#pagination-controls button:focus {
  color: #3949ab;
  transform: scale(1.05);
}

/* Ensure the icons are vertically centered */
#pagination-controls i {
  vertical-align: middle;
}

.doc-upload:hover {
  border-color: #a0a0a0; /* Change border color on hover */
}

#upload-prompt {
  font-size: 24px; /* Larger font size for visibility */
  color: #333; /* Dark color for contrast */
  margin: 20px 0; /* Space around the text */
  padding: 20px; /* Padding inside the text block */
  width: 80%; /* Take up more space in the div */
  max-width: 600px; /* Maximum width for larger screens */
  transition: opacity 0.3s ease; /* Smooth transition for hiding */
}

/* Style for the file types list */
#file-types-list {
  color: #333; /* Dark color for the text */
  font-size: 14px; /* Font size for the list */
  margin-top: 10px; /* Space above the list */
}

/* Style for individual file types */
.file-type {
  background-color: #e9ecef; /* Light background for file type tags */
  border-radius: 3px; /* Rounded corners for tags */
  padding: 3px 6px; /* Padding inside tags */
  font-family: monospace; /* Monospace font for file extensions */
  margin-right: 5px; /* Space between tags */
  display: inline-block; /* Align tags inline */
}

/* Enhance the upload button hover effect */
.file-upload-btn:hover,
.file-upload-btn:focus {
  background-color: #0056b3; /* Darker blue on hover/focus */
  transform: scale(1.05); /* Slightly enlarge on hover/focus */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}
