body,
html {
  height: 100%;
  width: 100%;
  font-family: "Helvagoth-Medium", sans-serif;
  display: unset;
}

label {
  color: #5b92e5;
  white-space: nowrap;
  font-size: 14px;
}

h1 img {
  height: 100px;
  vertical-align: middle;
}

#uploadStatus {
  font-size: 12px;
  font-family: Window-Bold, sans-serif;
}

.success {
  color: green;
}

.error {
  color: red;
}

#uploadForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.upload-container {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  max-width: 100vw;
  height: 70%;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #d4af37; /* Set a default color for the icons (change as needed) */
}

p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #333333;
  font-family: "Helvagoth-MediumItalic", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  max-height: 100%;
  overflow-y: auto;
}

#title-edit {
  font-size: 16px;
  color: #da291c;
}

#author-edit {
  font-size: 14px;
  color: #d4af37;
}

.is-editing {
  outline: 1px solid blue;
  background-color: #f0f0f0;
}

.edit-btn,
.btn-icon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
}

.edit-btn i,
.btn-icon i {
  color: #555;
}

.editable-container {
  display: flex;
  flex-direction: column;
}

ul li {
  color: #333333;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: flex-start; /* Adjust as needed */
  align-items: center;
}

.update-form-button-container,
.delete-form-button-container {
  margin-right: 10px; /* Adjust spacing between button containers if needed */
}

.doc-upload,
.docs-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.docs-container {
  overflow-y: auto;
  max-height: 100%;
  height: 100%;
}

#author-edit,
#title-edit {
  border: none;
  min-width: 200px;
}
