body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Ensures no scrolling */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#picture-container,
#hands-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#workshop,
#magic {
  height: 400px;
  width: 400px;
}
.grid-item {
  width: 50vw;
  height: 50vh;
}

.grid-item.red {
  background: #da291c; /* Red */
}

.grid-item.white {
  background: #ffffff; /* White */
}

#text-container p {
  color: #ffffff;
  font-size: 20px;
  padding: 20px;
}

#swiss-flag {
  height: 300px;
  width: 300px;
}
.button {
  --bg-color: #f2f2f2;
  --main-color: #333333;
  width: 120px;
  margin: 0;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0px 0px #ffff;
  transform: translate(3px, 3px);
}

.button-link:hover {
  cursor: pointer;
  color: #fff;
}

ul li {
  margin: 0;
}

.button-list {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

h1 {
  font-family: Window-Bold, sans-serif;
  font-size: 60px;
  position: absolute;
  margin: 0;
  top: 0;
  text-align: center;
  color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 img {
  height: 100px;
  vertical-align: middle;
}

#info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
