body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  position: relative; /* Add this */
}

#background {
  z-index: 1;
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1695046166/layered-peaks-haikei_3_obydlk.svg');
  height: 100vh;
  width: 100vw;
  position: absolute; /* Changed from fixed to absolute */
  background-size: cover;
  background-position: center;
}
.homepage-link {
  position: absolute;
  top: 1px;
  left: 3px;
}

.homepage-link img {
  height: 60px;
  transition: transform 0.3s;
}

.homepage-link:hover img {
  transform: scale(1.05);
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #666666;
  font-weight: 1000;
}

.lower-overlay {
  position: absolute;
  bottom: 0; /* Stick to the bottom of the viewport */
  left: 0; /* Align with the left edge */
  width: 100vw; /* Cover the entire viewport width */
  height: 50vh; /* Take up the lower 50% of the viewport height */
  z-index: 10; /* Adjust as needed to place it above or below specific elements */
  background-color: rgba(0, 0, 0, 0); /* Fully transparent */
}
.upper-overlay {
  position: absolute;
  top: 0; /* Stick to the bottom of the viewport */
  left: 0; /* Align with the left edge */
  width: 100vw; /* Cover the entire viewport width */
  height: 15vh; /* Take up the lower 50% of the viewport height */
  z-index: 10; /* Adjust as needed to place it above or below specific elements */
  background-color: rgba(0, 0, 0, 0); /* Fully transparent */
}
.cloud-title-wrapper,
.cloud-btn-1-wrapper,
.cloud-btn-2-wrapper,
.cloud-btn-github-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cloud-title {
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
  font-size: 60px;
  z-index: -3;
}
.cloud-title-wrapper {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 6%;
}
.cloud-title-wrapper::before {
  content: '';
  position: absolute;
  width: 900%; /* adjust as needed */
  height: 900%; /* adjust as needed */
  background: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1695059778/top1_l9hfwh.png')
    no-repeat center / contain;
  z-index: -4;
}

.cloud-btn {
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  height: 30vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    #0056ff,
    #94a6dc
  ); /* Change these colors as you see fit */
  -webkit-background-clip: text;
  color: transparent;
}

.cloud-title {
  background: linear-gradient(
    to right,
    #0056ff,
    #94a6dc
  ); /* Change these colors as you see fit */
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
}

.cloud-btn1:hover,
.cloud-btn2:hover,
.cloud-btn-github:hover {
  transform: translateY(-5px);
}

.cloud-btn-1-wrapper:hover::before,
.cloud-btn-2-wrapper:hover::before,
.cloud-btn-github-wrapper:hover::before {
  background-position: center -5px;
}

.cloud-btn1 {
  padding-right: 5vw;
  padding-bottom: 3vh;
  z-index: 1;
}

.cloud-btn-github {
  z-index: 1;
  height: 28vh;
  width: 28vw;
}

.cloud-btn-1-wrapper {
  top: 2%;
  right: 22%;
}

.cloud-btn-1-wrapper::before {
  content: '';
  position: absolute;
  width: 160%; /* adjust as needed */
  height: 160%; /* adjust as needed */
  background: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1695076173/pngwing.com_2_c0z0gs.png')
    no-repeat center / contain;
  opacity: 0.6;
  z-index: -2;
}
.cloud-btn2 {
  z-index: 1;
  margin-left: 12vw;
  margin-bottom: -2vh;
  padding-top: 3vh;
}
.cloud-btn-2-wrapper {
  bottom: 30%;
  left: 25%;
}
.cloud-btn-2-wrapper::before {
  content: '';
  position: absolute;
  width: 160%; /* adjust as needed */
  height: 160%;
  background: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1695059778/bottom2_m4gw9l.png')
    no-repeat center / contain;
  z-index: -2;
  opacity: 0.6;
}
.cloud-btn-github-wrapper::before {
  content: '';
  position: absolute;
  width: 220%; /* adjust as needed */
  height: 220%; /* adjust as needed */
  background: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1695059779/bottom1_oew70i.png')
    no-repeat center / contain;
  z-index: -3;
}

.cloud-btn-github-wrapper {
  top: -50%;
}

img,
div {
  border: none;
}

a {
  position: relative;
  text-decoration: none;
}
