body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Ensures no scrolling */
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  background-color: #faf5e6; /* Retro Cream */
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

.form label .input:valid + span {
  color: green;
}

#signup-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.form-container .submit:hover {
  background-color: #f1c73e;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.info-container {
  display: flex;
}

.icon,
.icon svg {
  cursor: pointer;
}

.icon svg:hover {
  scale: 1.05;
}

#message-container {
  color: rgb(255, 169, 37);
  font-size: 0.8rem;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.input-group {
  margin-top: 0.15rem;
  font-size: 0.7rem;
  line-height: 1rem;
}

.input-group input {
  border-radius: 0.375rem;
  border: 1px solid #654321;
  outline: 0;
  background-color: #ffffff;
  padding: 0.75rem 1rem;
  color: #333333;
}

.input-group input:focus {
  border-color: #654321;
}

.submit {
  display: block;
  width: 100%;
  background-color: #654321;
  padding: 0.75rem;
  text-align: center;
  color: #faf5e6;
  border: none;
  border-radius: 0.375rem;
  font-family: Univers, sans-serif;
  font-size: 1rem;
}

.social-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-message .message {
  font-size: 4rem;
  font-family: ITCGaramondStd-BdNarrow, sans-serif;
  color: #faf5e6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #654321;
}

.social-icons {
  display: flex;
  justify-content: center;
  z-index: 11;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
  z-index: 11;
}

.hand1 img {
  width: 225px;
  height: auto;
}

.hand1 {
  position: absolute;
  top: -4vh;
  right: 46vw;
  rotate: 70deg;
  z-index: 10;
    pointer-events: none;

}

.peace {
  position: absolute;
  top: 10vh;
  right: 1vw;
  rotate: 50deg;
}
.peace img {
  width: 180px;
  height: auto;
    pointer-events: none;

}

.social-icons .icon svg {
  height: 3rem;
  width: 3rem;
  fill: #faf5e6;
  z-index: 11;
}

.signup {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #d4af37;
  margin-top: 20px;
}

.signup a {
  color: #5b92e5;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: #71a2ef;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: #faf5e6;
}

h1 {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-size: 10em;
  font-weight: 900;
  margin: 0;
  top: 0;
  text-align: center;
  color: #faf5e6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #654321;
}

h2 {
  font-family: "ITCGaramondStd-UltNarrowIta", serif;
  font-size: 3em;
  margin: 0;
  top: 0;
  text-align: center;
  color: #faf5e6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #654321;
}

.shape {
  position: absolute;
  border: 5px solid #141414; /* Thick black border */
}

.rectangle {
  width: 50vw;
  height: 45vh;
}

.form-rectangle {
  width: 20vw;
  height: 50vh;
}

.circle {
  width: 35vw;
  height: 35vw;
  border-radius: 50%;
}

.square {
  width: 24vw;
  height: 24vw;
}

p {
  color: #faf5e6;
  padding: 5px 10px;
  margin: 10px;
}

#pink {
  background-color: #ec9ca0;
  top: 8vh;
  left: 2vw;
  transform: rotate(-10deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#red {
  background-color: #cd2000;
  top: 6vh;
  right: 10vw;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  text-align: center;
  justify-content: center;
}

#yellow {
  background-color: #e6d200;
  bottom: 6vh;
  left: 16vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(-20deg); /* Angled */
  z-index: 0;
}

#blue {
  background-color: #0069be;
  transform: rotate(8deg);
  bottom: 3vh;
  right: 12vw;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
  text-align: center;
  justify-content: center;
}
#green {
  background-color: #00a86b;
  top: 10vh;
  display: flex;
  right: 14vw;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 2;
}

#orange {
  background-color: #ed872d;
  top: 16vh;
  align-text: center;
  right: 32vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform: rotate(-4deg);
  z-index: 1;
}

.landing-homepage {
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
}

#signup-title {
  font-family: "ITCGaramondStd-BdNarrow", serif;
  font-size: 6.5em;
  margin: 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: center;
  display: flex;
  white-space: normal;
  max-width: 50%;
}

h3 {
  font-family: ITCGaramondStd-BdNarrowIta, serif;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
  color: #faf5e6;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #654321;
}
