html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.form .form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form label .input:valid + span {
  color: green;
}

.submit:hover {
  background-color: #f1c73e;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.form-container {
  width: 350px;
  background-color: #f2f2f2;
  padding: 10px;
  color: #5b92e5;
  border-radius: 0.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -30px;
}

.title {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;

  text-align: center;
  font-size: 1.5rem;
  line-height: 1rem;
  letter-spacing: 1px;
  color: #da291c;
  font-weight: 900;
}

.icon,
.icon svg {
  cursor: pointer;
}

.icon svg:hover {
  scale: 1.05;
}

#message-container {
  color: rgb(255, 169, 37);
  font-size: 0.8rem;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.form .form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-group {
  margin-top: 0.15rem;
  font-size: 0.7rem;
  line-height: 1rem;
}

.input-group label {
  display: block;
  color: #5b92e5;
  margin-bottom: 4px;
}

.input-group input {
  width: 90%;
  border-radius: 0.375rem;
  border: 1px solid #d4af37;
  outline: 0;
  background-color: #ffffff;
  padding: 0.75rem 1rem;
  color: #333333;
}

.input-group input:focus {
  border-color: #d4af37;
}

.submit {
  display: block;
  width: 100%;
  background-color: #d4af37;
  padding: 0.75rem;
  text-align: center;
  color: #333333;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #da291c;
}

.social-icons {
  display: flex;
  justify-content: center;
  z-index: 11;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
  z-index: 11;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #da291c;
  z-index: 11;
}

.signup {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #d4af37;
  margin-top: 20px; /* Adjust the margin as needed */
}

h1 img {
  height: 100px; /* or the size that fits well with your layout */
  vertical-align: middle; /* to align with the text */
}

.signup a {
  color: #5b92e5;
  text-decoration: none;
}

.signup a:hover {
  text-decoration: #71a2ef;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: #d4af37;
}

.banner {
  width: 100%; /* maintain aspect ratio */
  max-height: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10; /* make sure it's above other content */
  pointer-events: none; /* Allows clicks to pass through */
}

.banner img {
  width: 100%;
  height: auto;
  pointer-events: none; /* Allows clicks to pass through */
}
