body {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  position: relative; /* Add this */
}

#background {
  z-index: 1;
  background-image: url('https://res.cloudinary.com/dn9bcrimg/image/upload/v1695310446/layered-steps-haikei_1_qdgsy6.svg');
  height: 100vh;
  width: 100vw;
  position: absolute; /* Changed from fixed to absolute */
  background-size: cover;
  background-position: center;
}

.navbar {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  text-align: center;
  position: relative;
}

.container {
  font-family: 'Helvetica Neue', sans-serif;
  max-width: 600px;
  margin-left: 40%;
  position: relative;
}

.step {
  padding: 20px;
  margin: 10px 0;
  position: relative;
  z-index: 1; /* Opaque white background */
  border-radius: 12px; /* Adjust as needed */
  border: 1px solid red; /* Optional: box-shadow for additional depth */
  /* Optional: box-shadow for additional depth */
}
.homepage-link {
  position: absolute;
  top: 1px;
  left: 3px;
}

.homepage-link img {
  height: 60px;
  transition: transform 0.3s;
}

.homepage-link:hover img {
  transform: scale(1.05);
}
h1 {
  color: #6d2e46;
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 20px;
}
.info {
  font-size: 12px;
  color: #666;
}

.footer {
  font-family: 'Helvetica Neue', sans-serif;
  text-align: center;
  bottom: 0;
  margin-left: 40%;
}

.custom-alert {
  color: white;
  margin-top: 10px;
  padding: 10px;
}

#status {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}

.alert-warning {
  color: red;
}

.alert-danger {
  color: red;
}

.alert-success {
  color: green;
}

.alert-info {
  color: blue;
}
