{% extends 'base.html' %} {% block head %}
<title>CWD | New Utility</title>
{% endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='dist/css/cwd.css') }}"
/>
{% endblock %} {% block body %}
<h1>Chat with Docs</h1>
<div class="content-wrap">
  <div class="left-column">
    <button id="toggleRightColumn" class="custom-button">
      Toggle Doc Center
    </button>
    <div class="query-container" style="position: relative">
      <h3>Query Text Document</h3>
      <div id="query-results-section">
        <div id="history-container">
          <!-- History will go here -->
        </div>
        <div id="current-query">
          <p style="display: none">
            <strong>Query: </strong><span id="user_query"></span>
          </p>
          <div id="response_container" style="display: none">
            <strong>Response: </strong>
            <pre><span id="results"></span></pre>
          </div>
        </div>
      </div>
    </div>
    <div class="input-container">
      <div id="query-input-section">
        <!-- Wrap the input in a div -->
        <div class="input-wrapper">
          <input
            type="text"
            id="query"
            name="query"
            placeholder="Enter your query here..."
          />
          <button id="queryButton" onclick="queryDocument()" disabled>
            <img
              class="submit-arrow"
              src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1694930458/right-arrow-svgrepo-com_drke3l.svg"
              alt="Submit Arrow"
            />
          </button>
        </div>
        <button id="interruptButton" onclick="interruptQuery()" disabled>
          Interrupt
        </button>
      </div>
      <div class="alerts queryAlerts"></div>
    </div>
  </div>
  <div class="right-column">
    <div class="docs-container">
      <div id="docs-settings-popup" class="docs-settings-popup">
        <h3>Docs</h3>
        <form id="docs-preferences-form">
          {{ doc_preferences_form.hidden_tag() }}
          <div class="knowledge-select form-group">
            {{ doc_preferences_form.knowledge_query_mode.label }} {{
            doc_preferences_form.knowledge_query_mode() }}
          </div>
          <div class="form-group">
            {{ doc_preferences_form.knowledge_context_tokens.label }}
            <input
              type="range"
              id="knowledge_context_tokens"
              name="knowledge_context_tokens"
              min="1"
              max="30"
              value="{{ doc_preferences_form.knowledge_context_tokens.data }}"
              oninput="document.getElementById('knowledge_context_tokens_value').value = this.value"
            />
            <input
              type="text"
              id="knowledge_context_tokens_value"
              class="range-value-input"
              value="{{ doc_preferences_form.knowledge_context_tokens.data }}"
              oninput="document.getElementById('knowledge_context_tokens').value = this.value"
            />
          </div>
          <div class="form-group">
            {{ doc_preferences_form.temperature.label }}
            <input
              type="range"
              id="temperature"
              name="temperature"
              min="0"
              max="2"
              step="0.1"
              value="{{ doc_preferences_form.temperature.data }}"
              oninput="document.getElementById('temperature-value').value = this.value"
            />
            <input
              type="text"
              id="temperature-value"
              class="range-value-input"
              value="{{ doc_preferences_form.temperature.data }}"
              oninput="document.getElementById('temperature').value = this.value"
            />
          </div>
          <ul class="docs-preference-list">
            {% for document in documents %}
            <li id="document-{{ document.id }}" class="document-item">
              <div class="doc-info">
                <p id="title-edit">{{ document.title }}</p>
                <p id="author-edit">{{ document.author }}</p>
                <p>Tokens: {{ document.total_tokens }}</p>
                <p>Chunks: {{ document.chunk_count }}</p>
              </div>
              <div class="doc-select">
                <input
                  type="checkbox"
                  id="checkbox-{{ document.id }}"
                  name="document_selection_{{ document.id }}"
                  {%
                  if
                  document.selected
                  %}checked{%
                  endif
                  %}
                />
              </div>
            </li>
            {% endfor %}
          </ul>
          <input
            type="submit"
            value="Save Preferences"
            id="docs-preferences-submit"
            class="button-send"
          />
        </form>
      </div>
      <div id="docs-alerts"></div>
    </div>
  </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='dist/js/cwd.js') }}"></script>
{% endblock %}{% endblock %}
