{% extends 'base.html' %} {% block head %}
<title>Audio | New Utility</title>
{% endblock %} {% block styles %} {% assets "audio_style_bundle" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% endblock %} {% block body %}
<div id="full-container">
  <div id="left-column">
    <div class="main-row">
      <div class="utility-toggle">
        <i class="fas fa-microphone-alt" data-utility="tts"></i>
        <i class="fas fa-file-audio" data-utility="transcription"></i>
        <i class="fas fa-language" data-utility="translation"></i>
      </div>
      <div id="audio-column">
        <div class="audio-utility-container">
          <div class="audio-preferences-container">
            <form id="tts-preferences-form" method="post">
              <h3>Text-to-Speech</h3>
              <div class="select-row">
                <div class="form-group">
                  {{ tts_preferences_form.model.label }} {{
                  tts_preferences_form.model }}
                </div>
                <div class="form-group">
                  {{ tts_preferences_form.voice.label }} {{
                  tts_preferences_form.voice }}
                </div>
              </div>
              <div class="form-group">
                {{ tts_preferences_form.speed.label }}
                <input
                  type="range"
                  id="speed"
                  name="speed"
                  min="0"
                  max="4"
                  step="0.25"
                  value="{{ tts_preferences_form.speed.data }}"
                  oninput="document.getElementById('speed-value').value = this.value"
                />
                <input
                  type="text"
                  id="speed-value"
                  name="speed-value"
                  class="range-value-input"
                  value="{{ tts_preferences_form.speed.data }}"
                  oninput="document.getElementById('speed').value = this.value"
                />
              </div>
            </form>
            <form id="whisper-preferences-form" method="post">
              <h3>Whisper</h3>
              <div class="select-row">
                <div class="form-group">
                  {{ whisper_preferences_form.model.label }} {{
                  whisper_preferences_form.model }}
                </div>
                <div class="form-group language">
                  {{ whisper_preferences_form.language.label }} {{
                  whisper_preferences_form.language(class_='form-control') }}
                </div>
                <div class="form-group">
                  {{ whisper_preferences_form.response_format.label }} {{
                  whisper_preferences_form.response_format }}
                </div>
              </div>
              <div class="form-group">
                {{ whisper_preferences_form.temperature.label }}
                <input
                  type="range"
                  id="temperature"
                  name="temperature"
                  min="0"
                  max="1"
                  step="0.1"
                  value="{{whisper_preferences_form.temperature.data }}"
                  oninput="document.getElementById('temperature-value').value = this.value"
                />
                <input
                  type="text"
                  id="temperature-value"
                  class="range-value-input"
                  value="{{ whisper_preferences_form.temperature.data }}"
                  oninput="document.getElementById('temperature').value = this.value"
                />
              </div>
            </form>
          </div>
          <div class="utility-container">
            <div id="tts-utility" class="utility" style="display: flex">
              <form id="tts-form" method="post">
                <div class="form-group">
                  {{ tts_form.input.label(for='tts-input') }} {{
                  tts_form.input(id='tts-input', required=True) }}
                </div>
                <input
                  type="submit"
                  value="Generate Speech"
                  class="utility-submit"
                />
              </form>
            </div>
            <div
              id="transcription-utility"
              class="utility"
              style="display: none"
            >
              <form
                id="transcription-form"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  {{ transcription_form.file.label(for='transcription-file') }}
                  {{ transcription_form.file(id='transcription-file',
                  required=True, accept="audio/*") }}
                </div>
                <div class="form-group">
                  {{ transcription_form.prompt_option.label }}
                  <div>
                    {{ transcription_form.prompt_option(class_='form-control')
                    }}
                  </div>
                </div>
                <div
                  class="form-group"
                  id="manual-prompt-group"
                  style="display: none"
                >
                  {{ transcription_form.prompt.label(for='transcription-prompt')
                  }} {{ transcription_form.prompt(id='transcription-prompt',
                  class_='form-control') }}
                </div>
                <div
                  class="form-group"
                  id="generate-prompt-group"
                  style="display: none"
                >
                  {{
                  transcription_form.generate_prompt.label(for='generate-prompt')
                  }} {{ transcription_form.generate_prompt(id='generate-prompt',
                  class_='form-control') }}
                </div>

                <input
                  type="submit"
                  value="Transcribe"
                  class="utility-submit"
                />
              </form>
            </div>
            <div id="translation-utility" class="utility" style="display: none">
              <!-- Translation Form -->
              <form
                id="translation-form"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  {{ translation_form.file.label(for='translation-file') }} {{
                  translation_form.file(id='translation-file', required=True,
                  accept="audio/*") }}
                </div>
                <div class="form-group">
                  {{ translation_form.prompt_option.label }}
                  <div>
                    {{ translation_form.prompt_option(class_='form-control') }}
                  </div>
                </div>
                <div
                  class="form-group"
                  id="manual-translation-prompt-group"
                  style="display: none"
                >
                  {{ translation_form.prompt.label(for='translation-prompt') }}
                  {{ translation_form.prompt(id='translation-prompt',
                  class_='form-control') }}
                </div>
                <input type="submit" value="Translate" class="utility-submit" />
              </form>
            </div>
          </div>
        </div>
        <div id="update-text"></div>
      </div>
      <div id="history-column">
        {% set TTSJobs = TTSJobs|sort(attribute='created_at', reverse=true) %}

        <div id="tts-history">
          <h3>Text-to-Speech History</h3>
          <ul>
            {% for job in TTSJobs %} {% if job.output_filename %}
            <li
              class="history-entry"
              data-job-id="{{ job.id }}"
              data-job-type="tts"
            >
              <div class="history-summary">
                <span class="history-title">{{ job.voice }}</span><br /><span
                  class="history-time"
                  >{{ job.created_at.strftime('%d-%m-%Y %H:%M') }}</span
                >
              </div>
              <div
                class="history-details"
                id="tts-details-{{ job.id }}"
                style="display: none"
              >
                <p>Model: {{ job.model }}</p>
                <p>Speed: {{ job.speed }}</p>
                <audio controls>
                  <source
                    src="{{ url_for('audio_bp.download_tts', filename=job.output_filename) }}"
                    type="audio/mpeg"
                  />
                  Your browser does not support the audio element.
                </audio>
                <a
                  href="{{ url_for('audio_bp.download_tts', filename=job.output_filename) }}"
                  download
                  >Download Audio</a
                >
              </div>
            </li>
            {% endif %} {% endfor %}
          </ul>
        </div>
        {% set TranscriptionJobs =
        TranscriptionJobs|sort(attribute='created_at', reverse=true) %}
        <div id="transcription-history">
          <h3>Transcription History</h3>
          <ul>
            {% for job in TranscriptionJobs %}
            <li
              class="history-entry"
              data-job-id="{{ job.id }}"
              data-job-type="transcription"
            >
              {% endfor %}
            </li>
          </ul>
        </div>
        {% set TranslationJobs = TranslationJobs|sort(attribute='created_at',
        reverse=true) %}
        <div id="translation-history">
          <h3>Translation History</h3>
          <ul>
            {% for job in TranslationJobs %}
            <li
              class="history-entry"
              data-job-id="{{ job.id }}"
              data-job-type="translation"
            >
              {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}{% block page_instructions %} {{ tooltip|safe }} {% endblock %}{%
block scripts %} {% assets "audio_js_bundle" %}
<script src="{{ ASSET_URL }}"></script>
{% endassets %}{% endblock %}
