<!doctype html>
<html lang="en">
  <head>
    <title>Upload and Query Text Document</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/helvetica-neue-9"
      rel="stylesheet"
    />
    <!-- Link to the external CSS and JS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chat_index.css') }}"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat_index.js') }}"></script>
  </head>
  <body>
    <h1>Chat with Docs</h1>
    <a href="https://rawcsav.com" class="homepage-link">
      <img
        src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1695251723/RawcSavLogo_iiq03n.png"
        alt="Homepage"
      />
    </a>
    <button id="showApiKey">Input API Key</button>
    <div id="apiKeyModal" class="modal">
      <div class="api-modal-content">
        <span class="close">&times;</span>
        <div class="api-key-container">
          <form id="apiKeyForm" onsubmit="event.preventDefault(); setAPIKey();">
            <input
              type="text"
              name="api_key"
              placeholder="Enter OpenAI API Key"
              required
            />
            <input type="submit" value="Set" />
          </form>
          <div id="apiKeyStatus"></div>
        </div>
        <div class="alerts apiKeyAlerts"></div>
      </div>
    </div>
    <div id="apiKeyStatus2"></div>
    <button id="showInstructions">Show Instructions</button>
    <div id="instructionsModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="instructions-container">
          <div id="instruction_body">
            <strong>1. Set OpenAI API Key: </strong>Enter your OpenAI API Key in
            the provided field.
            <strong><br />2. Upload Documents: </strong> Click to upload .txt,
            .pdf, or .docx files.
            <strong><br />3. Select Documents: </strong> Use the 'Uploaded
            Documents' section to select which documents to use for answering
            the question. <strong><br />4. Ask a Question: </strong> Enter your
            question in the 'Query Text Document' field.
          </div>
        </div>
      </div>
    </div>
    <div class="content-wrap">
      <div class="left-column">
        <div class="setup-container">
          <div class="upload-container">
            <h2>Upload Docs</h2>
            <form id="uploadForm">
              <input type="file" name="file" multiple id="fileInput" disabled />
            </form>
            <div class="alerts uploadAlerts"></div>
          </div>
        </div>
        <div class="docs-container">
          <h3>Uploaded Documents</h3>
          <div id="uploaded-docs-section">
            <form id="docSelectionForm">
              <ul id="uploaded_docs_list">
                {% for file in uploaded_files %}
                <li>
                  <input
                    type="checkbox"
                    name="selected_docs"
                    value="{{ file }}"
                    checked
                  />
                  <div>{{ file }}</div>
                  <!-- New Delete Button -->
                  <button class="delete-btn" onclick="removeFile('{{ file }}')">
                    X
                  </button>
                </li>
                {% endfor %}
              </ul>
            </form>
          </div>
          <div id="docs-alerts"></div>
        </div>
      </div>
      <div class="right-column">
        <div class="query-container" style="position: relative">
          <h3>Query Text Document</h3>
          <div id="query-results-section">
            <div id="history-container">
              <!-- History will go here -->
            </div>
            <div id="current-query">
              <p style="display: none">
                <strong>Query: </strong><span id="user_query"></span>
              </p>
              <div id="response_container" style="display: none">
                <strong>Response: </strong>
                <pre><span id="results"></span></pre>
              </div>
            </div>
          </div>
        </div>
        <div class="input-container">
          <div id="query-input-section">
            <!-- Wrap the input in a div -->
            <div class="input-wrapper">
              <input
                type="text"
                id="query"
                name="query"
                placeholder="Enter your query here..."
              />
              <button id="queryButton" onclick="queryDocument()" disabled>
                <img
                  class="submit-arrow"
                  src="https://res.cloudinary.com/dn9bcrimg/image/upload/v1694930458/right-arrow-svgrepo-com_drke3l.svg"
                  alt="Submit Arrow"
                />
              </button>
            </div>
            <button id="interruptButton" onclick="interruptQuery()" disabled>
              Interrupt
            </button>
          </div>
          <div class="alerts queryAlerts"></div>
        </div>
      </div>
    </div>
  </body>
</html>
