<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Chat page of Swiss AI. Allows users to interact with each other or with AI."
    />
    <meta name="keywords" content="Chat, Swiss AI, Interaction, AI" />
    <meta name="csrf-token" content="{{ csrf_token() }}" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/manifest.json') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Chat</title>
    <script
      src="https://kit.fontawesome.com/5c8c7a1eba.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@2/dist/purify.min.js"></script>
    {% include 'menu.html' %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fonts.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chat.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <div class="shape tall-rectangle" id="brown">
        <div id="options-container">
          <h3>Options</h3>
          <div id="options">
            <button
              id="show-history-btn"
              onclick="toggleHistory()"
              class="options-button"
            >
              <i class="fas fa-history"></i>
            </button>
            <button
              id="show-preferences-btn"
              onclick="togglePreferences()"
              class="options-button"
            >
              <i class="fas fa-cog"></i>
            </button>
            <button
              id="docs-preferences-btn"
              onclick="toggleDocPreferences()"
              class="options-button"
            >
              <i class="fa-regular fa-file-lines"></i>
            </button>
            <form
              id="new-conversation-form"
              action="{{ url_for('chat.new_conversation') }}"
              method="post"
              class="{{ 'hidden' if has_conversation_history else '' }}"
            >
              {{ new_conversation_form.system_prompt(class_="hidden") }}
              <button type="submit" class="button-send">
                <i class="fas fa-plus-circle"></i>
              </button>
            </form>
          </div>
        </div>
        <div id="conversation-container">
          <h3>History</h3>
          <div id="conversation-history">
            {% for conversation in conversation_history %}
            <div
              class="conversation-entry"
              data-conversation-id="{{ conversation.id }}"
              data-conversation-title="{{ conversation.title }}"
              onclick="selectConversation({{ conversation.id }})"
            >
              <p class="text-entry">{{ conversation.title }}</p>
              <span
                class="delete-conversation"
                onclick="deleteConversation({{ conversation.id }})"
              >
                <i class="fas fa-trash-alt"></i>
              </span>
            </div>
            {% endfor %}
          </div>
          <div
            id="conversation-history-status"
            class="conversation-history-status"
          ></div>
        </div>
        <input type="hidden" id="selected-conversation-id" value="" />
        <div id="preference-popup" class="preference-popup hidden">
          <h3>Preferences</h3>
          <form id="update-preferences-form">
            <div class="form-group">
              {{ user_preferences_form.model.label }} {{
              user_preferences_form.model() }}
            </div>
            <div class="form-group">
              {{ user_preferences_form.temperature.label }}

              <input
                type="range"
                id="temperature"
                name="temperature"
                min="0"
                max="2"
                step="0.1"
                value="{{ user_preferences_form.temperature.data }}"
                oninput="document.getElementById('temperature-value').value = this.value"
              />
              <input
                type="text"
                id="temperature-value"
                class="range-value-input"
                value="{{ user_preferences_form.temperature.data }}"
                oninput="document.getElementById('temperature').value = this.value"
              />
            </div>
            <div class="form-group">
              {{ user_preferences_form.max_tokens.label }}
              <input
                type="range"
                id="max_tokens"
                name="max_tokens"
                min="0"
                max="4096"
                step="1"
                value="{{ user_preferences_form.max_tokens.data }}"
                oninput="document.getElementById('max-tokens-value').value = this.value"
              />
              <input
                type="text"
                id="max-tokens-value"
                class="range-value-input"
                value="{{ user_preferences_form.max_tokens.data }}"
                oninput="document.getElementById('max_tokens').value = this.value"
              />
            </div>
            <div class="form-group">
              {{ user_preferences_form.frequency_penalty.label }}
              <input
                type="range"
                id="frequency_penalty"
                name="frequency_penalty"
                min="-2"
                max="2"
                step="0.1"
                value="{{ user_preferences_form.frequency_penalty.data }}"
                oninput="document.getElementById('frequency-penalty-value').value = this.value"
              />
              <input
                type="text"
                id="frequency-penalty-value"
                class="range-value-input"
                value="{{ user_preferences_form.frequency_penalty.data }}"
                oninput="document.getElementById('frequency_penalty').value = this.value"
              />
            </div>
            <div class="form-group">
              {{ user_preferences_form.presence_penalty.label }}
              <input
                type="range"
                id="presence_penalty"
                name="presence_penalty"
                min="-2"
                max="2"
                step="0.1"
                value="{{ user_preferences_form.presence_penalty.data }}"
                oninput="document.getElementById('presence-penalty-value').value = this.value"
              />
              <input
                type="text"
                id="presence-penalty-value"
                class="range-value-input"
                value="{{ user_preferences_form.presence_penalty.data }}"
                oninput="document.getElementById('presence_penalty').value = this.value"
              />
            </div>
            <div class="form-group">
              {{ user_preferences_form.top_p.label }}
              <input
                type="range"
                id="top_p"
                name="top_p"
                min="0"
                max="1"
                step="0.01"
                value="{{ user_preferences_form.top_p.data }}"
                oninput="document.getElementById('top-p-value').value = this.value"
              />
              <input
                type="text"
                id="top-p-value"
                class="range-value-input"
                value="{{ user_preferences_form.top_p.data }}"
                oninput="document.getElementById('top_p').value = this.value"
              />
            </div>
            <div class="form-group" id="chat-checkbox">
              <div class="stream-check">
                <label>
                  {{ user_preferences_form.stream.label }} {% if
                  user_preferences_form.stream.data %}
                  <input type="checkbox" id="stream" name="stream" checked />
                  {% else %}
                  <input type="checkbox" id="stream" name="stream" />
                  {% endif %}
                </label>
              </div>
            </div>
            <input
              type="submit"
              value="Update Preferences"
              id="preference-submit"
              class="button-send"
            />
          </form>
        </div>
        <div id="docs-settings-popup" class="docs-settings-popup hidden">
          <h3>Documents</h3>
          <div class="docs-list-container">
            <ul class="docs_list">
              <div class="docs-settings">
                <label for="use-docs">Use docs in next query?</label>
                {% if knowledge_query_mode %}
                <input
                  type="checkbox"
                  id="use-docs"
                  name="use-docs"
                  onclick="updateKnowledgeQueryMode()"
                  checked
                />
                {% else %}
                <input
                  type="checkbox"
                  id="use-docs"
                  name="use-docs"
                  onclick="updateKnowledgeQueryMode()"
                />
                {% endif %}
                <label for="max-tokens">% of Context Tokens:</label>
                <input
                  type="range"
                  id="max-tokens"
                  name="max-tokens"
                  min="0"
                  max="80"
                  onchange="debounceKnowledgeContextTokens()"
                />
              </div>
              {% for document in documents %}
              <li id="document-{{ document.id }}">
                <p id="title-edit">{{ document.title }}</p>
                <p id="author-edit">{{ document.author }}</p>
                <p>Total Tokens: {{ document.total_tokens }}</p>
                <p>Chunk Count: {{ document.chunk_count }}</p>
                <label for="checkbox-{{ document.id }}"
                  >Document {{ document.id }}</label
                >
                {% if document.selected %}
                <input
                  type="checkbox"
                  id="checkbox-{{ document.id }}"
                  onclick="updateDocumentSelection({{ document.id }})"
                  checked
                />
                {% else %}
                <input
                  type="checkbox"
                  id="checkbox-{{ document.id }}"
                  onclick="updateDocumentSelection({{ document.id }})"
                />
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="chat-container">
        <div class="top-banner">
          <h4
            id="convo-title"
            contenteditable="true"
            data-conversation-id="{{ conversation_id }}"
          >
            {{ conversation_title }}
          </h4>
        </div>
        <div class="messages" id="chat-box"></div>
        <div class="message-input-container">
          <form
            id="chat-completion-form"
            action="{{ url_for('chat.chat_completion') }}"
            method="post"
            class="{{ '' if has_conversation_history else 'hidden' }}"
          >
            <div id="thumbnail-div">
              {% for image_url in image_urls %}
              <div class="image-div">
                <img src="{{ image_url }}" class="thumbnail" />
                <i
                  class="fas fa-times delete-icon"
                  onclick="deleteImage('{{ image_url }}')"
                ></i>
              </div>
              {% endfor %}
            </div>

            <input
              type="hidden"
              name="conversation_id"
              id="completion-conversation-id"
              value=""
            />

            <div class="input-group">
              <input
                type="file"
                id="image-upload"
                accept="image/*"
                style="display: none"
              />
              <button
                id="image-upload-icon"
                type="button"
                style="display: none"
              >
                <i class="fa fa-file-image-o"></i>
              </button>
              <textarea
                rows="1"
                id="message-input"
                class="message-input"
                placeholder="Type your message here..."
              ></textarea>
              <button
                type="submit"
                id="toggle-button"
                class="button-send"
                data-state="send"
              >
                <i class="fas fa-paper-plane"></i>
                <span class="sr-only">Send Message</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet" href="../static/css/solarized.css" />
    <script type="text/javascript">
      var conversationHistory = {{ conversation_history|tojson|safe }};
    </script>

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
