<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Confirm Email</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fonts.css') }}"
    />
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% include 'menu.html' %}
  </head>
  <body>
    <h1 class="outlined-text">
      Swiss <img src="/static/logo/swissimg.png" alt="Company Logo" /> AI
    </h1>
    <h2>Confirm Your Email</h2>
    <p>Please enter the confirmation code sent to your email.</p>
    <form
      action="{{ url_for('auth.confirm_email') }}"
      id="confirm-email-form"
      class="form"
      method="post"
    >
      {{ form.hidden_tag() }}
      <!-- This includes the CSRF token field -->
      <label for="code">Confirmation Code:</label>
      <input type="text" id="code" name="code" required />
      <button type="submit">Confirm</button>
    </form>
    {% include 'footer.html' %}
  </body>
</html>
