{% extends 'base.html' %} {% block head %}
<title>Jack - Confirm Email</title>
{% endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/confirm_email.css') }}"
/>
{% endblock %} {% block body %}
<div class="hand1 animatable">
  <img alt="Hand1" src="{{ url_for('static', filename='images/hand1.svg') }}" />
</div>
<div class="hand2 animatable">
  <img alt="Hand2" src="{{ url_for('static', filename='images/hand2.svg') }}" />
</div>
<div class="shape rectangle" id="green">
  <h1>JACK</h1>
  <h2>Of all Trades</h2>
</div>
<div class="shape circle" id="yellow"></div>
<div class="balloon">
  <img
    alt="balloon"
    src="{{ url_for('static', filename='images/balloons.svg') }}"
  />
</div>
<div class="balloon2">
  <img
    alt="balloon2"
    src="{{ url_for('static', filename='images/balloon2.svg') }}"
  />
</div>
<div class="shape square" id="red">
  <a class="landing-homepage" href="https://rawcsav.com">
    <img
      alt="Homepage"
      src="{{ url_for('static', filename='logo/jacklogo.svg') }}"
    />
  </a>
</div>
<div class="shape rectangle" id="blue">
  <h3>Please enter the confirmation code sent to your email.</h3>
</div>
<div class="shape form-rectangle animatable" id="purple">
  <form
    action="{{ url_for('auth.confirm_email') }}"
    id="confirm-email-form"
    class="form"
    method="post"
  >
    <input
      type="text"
      name="middle-name"
      id="middle-name"
      style="display: none"
    />
    <div class="input-group">
      <input
        type="text"
        id="code"
        name="code"
        required
        placeholder="Confirmation Code"
      />
    </div>
    <button type="submit" class="submit">Confirm</button>
    <div id="message-container"></div>
  </form>
</div>
<div class="shape square" id="orange animatable">
  <h2 id="confirm-title">Confirm Email</h2>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/confirm_email.js') }}"></script>
{% endblock %}
