<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Dashboard</title>
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/dashboard.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Welcome to Your Dashboard, {{ user.username }}</h1>
      <nav>
        <ul>
          <li><a href="{{ url_for('landing.landing_page') }}">Home</a></li>
          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h2>Profile Information</h2>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
      </section>
      <section>
        <h2>Dashboard Actions</h2>
        <ul></ul>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 Your Website Name</p>
    </footer>
  </body>
</html>
