{% extends 'base.html' %} {% block head %}
<title>Embeddings | New Utility</title>
{% endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/embeddings.css') }}"
/>
{% endblock %} {% block body %}
<div id="left-column">
  <div id="title-container">
    <h1>New Utility</h1>
  </div>
  <div class="upload-container">
    <div class="section-title-div">
      <h2 id="section-title">Embeddings</h2>
    </div>
    <div class="token-limits">
      <h3>Model Context Size</h3>
      <ul id="token-limits-list">
        <li><strong>gpt-4-1106-preview:</strong> 128,000 tokens</li>
        <li><strong>gpt-4-vision-preview:</strong> 128,000 tokens</li>
        <li><strong>gpt-4:</strong> 8,192 tokens</li>
        <li><strong>gpt-4-32k:</strong> 32,768 tokens</li>
        <li><strong>gpt-4-0613:</strong> 8,192 tokens</li>
        <li><strong>gpt-4-32k-0613:</strong> 32,768 tokens</li>
        <li><strong>gpt-4-0314:</strong> 8,192 tokens</li>
        <li><strong>gpt-4-32k-0314:</strong> 32,768 tokens</li>
        <li><strong>gpt-3.5-turbo-1106:</strong> 16,385 tokens</li>
        <li><strong>gpt-3.5-turbo:</strong> 4,096 tokens</li>
        <li><strong>gpt-3.5-turbo-16k:</strong> 16,385 tokens</li>
      </ul>
    </div>
    <div class="doc-upload">
      <p id="upload-prompt">
        Use the upload button below to select the document(s) for embedding.
      </p>
      <form
        id="uploadForm"
        action="{{ url_for('embeddings.upload_document') }}"
        method="post"
        enctype="multipart/form-data"
      >
        <label for="file" class="file-upload-btn"
          ><i class="fa-solid fa-cloud-arrow-up"></i>Upload</label
        >
        <p id="file-types-list">
          Accepted file types: <span class="file-type">.txt</span>,
          <span class="file-type">.pdf</span>,
          <span class="file-type">.docx</span>.
        </p>

        <input
          type="file"
          id="file"
          name="file"
          required
          style="display: none"
          multiple
        />
        <p id="file-name-display"></p>
        <div id="document-forms-container"></div>
        <div id="pagination-controls">
          <button type="button" id="prev-button" aria-label="Previous page">
            <i class="fas fa-arrow-left"></i>
          </button>
          <span id="current-page">1</span> / <span id="total-pages">1</span>
          <button type="button" id="next-button" aria-label="Next page">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
        <button type="submit" class="doc-submit-btn">
          <i class="fa-solid fa-wand-magic-sparkles"></i>Submit Docs
        </button>
        <div id="uploadStatus"></div>
      </form>
    </div>
    <div class="docs-container">
      <ul class="docs_list">
        {% for document in documents %}
        <li id="document-{{ document.id }}">
          <form
            class="edit-document-form"
            action="{{ url_for('embeddings.update_document', document_id=document.id) }}"
            method="post"
          >
            <input type="hidden" name="document_id" value="{{ document.id }}" />
            <div class="editable-container">
              <input
                class="editable"
                type="text"
                id="title-edit"
                name="title"
                value="{{ document.title }}"
                readonly
              />
              <input
                class="editable"
                type="text"
                id="author-edit"
                name="author"
                value="{{ document.author }}"
                readonly
              />
              <p>Total Tokens: {{ document.total_tokens }}</p>
              <p>Chunk Count: {{ document.chunk_count }}</p>
            </div>
          </form>
          <form
            action="{{ url_for('embeddings.delete_document', document_id=document.id) }}"
            method="post"
          ></form>
          <div class="button-container">
            <button
              type="button"
              class="btn-icon edit-btn"
              onclick="enableEditing(this)"
              title="Edit Document"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn-icon save-btn"
              title="Save Changes"
              style="display: none"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              type="button"
              class="btn-icon delete-btn"
              data-doc-id="{{ document.id }}"
              title="Delete Document"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/embeddings.js') }}"></script>
{% endblock %}
