<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-section">
      <div class="inner-footer">
        <h6 class="footer-heading">Site</h6>
        <nav class="footer-nav">
          <ul class="footer-links">
            <li><a href="https://rawcsav.com/">Home</a></li>
            <li><a href="https://rawcsav.com/projects.html">Projects</a></li>
            <li><a href="https://rawcsav.com/writings.html">Writings</a></li>
            <li><a href="https://rawcsav.com/about.html">About</a></li>
            <li><a href="https://rawcsav.com/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-section">
      <div class="inner-footer">
        <h6 class="footer-heading">Links</h6>
        <nav class="footer-nav">
          <ul class="footer-links">
            <li><a href="https://github.com/rawcsav">GitHub</a></li>
            <li>
              <a href="https://github.com/rawcsav/AIUtilsFlask"
                >Project GitHub</a
              >
            </li>
            <li>
              <a href="https://www.linkedin.com/in/gmason21/">LinkedIn</a>
            </li>
            <li><a href="https://rawcsav.com/about.html">About</a></li>
            <li><a href="https://rawcsav.com/contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-section">
      <div class="inner-footer">
        <h6 class="footer-heading">New Utility</h6>
        <nav class="footer-nav">
          <ul class="footer-links">
            <li><a href="https://newutility.rawcsav.com/">Home</a></li>
            <li>
              <a href="https://newutility.rawcsav.com/auth/signup">Register</a>
            </li>
            <li>
              <a href="https://newutility.rawcsav.com/user/">Dashboard</a>
            </li>
            <li><a href="https://newutility.rawcsav.com/image/">Images</a></li>
            <li>
              <a href="https://newutility.rawcsav.com/embedding/">Embeddings</a>
            </li>
            <li><a href="https://newutility.rawcsav.com/chat/">Chat</a></li>
            <li><a href="https://newutility.rawcsav.com/audio/">Audio</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="copyright">
      Copyright © 2024 <span id="rawcsav-text">RAWCSAV</span>. All rights
      reserved.
    </p>
  </div>
</footer>
