{% extends 'base.html' %} {% block head %}
<title>Jack - Images</title>
{% endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/image.css') }}"
/>
<style></style>
{% endblock %} {% block body %}
<div id="left-column">
  <div id="title-container">
    <h1>New Utility</h1>
  </div>
  <div class="main-row">
    <div class="section-title-div">
      <h2 id="section-title">Images</h2>
    </div>
    <div class="img-mng-container">
      <div class="gen-form-container">
        <form id="image-generation-form" class="flex-form">
          {{ form.hidden_tag() }}
          <div class="input-row">
            <div class="input-group">
              <label for="model">Model:</label>
              <select id="model" name="model">
                <option value="dall-e-3">DALL-E 3</option>
                <option value="dall-e-2">DALL-E 2</option>
              </select>
            </div>
            <div class="input-group">
              <label for="size">Size:</label>
              <select id="size" name="size"></select>
            </div>
          </div>
          <div
            class="input-group"
            id="number-of-images-container"
            style="display: none"
          >
            <label for="n">#:</label>
            <input type="number" id="n" name="n" value="1" min="1" max="3" />
          </div>
          <div id="dall-e-3-options" style="display: none">
            <div class="input-group">
              <label for="quality">Quality:</label>
              <select id="quality" name="quality">
                <option value="standard">Standard</option>
                <option value="hd">HD</option>
              </select>
            </div>
            <div class="input-group">
              <label for="style">Style:</label>
              <select id="style" name="style">
                <option value="vivid">Vivid</option>
                <option value="natural">Natural</option>
              </select>
            </div>
          </div>

          <div class="prompt-submit-container">
            <input
              type="text"
              id="prompt"
              name="prompt"
              placeholder="Enter your prompt here"
            />
            <button type="submit">Generate</button>
          </div>
        </form>
        <div id="image-history-carousel" class="carousel"></div>
      </div>
      <div class="img-util">
        <div id="icons-container"></div>
        <div id="img-info-container"></div>
      </div>
    </div>
    <div id="generated-images"></div>
    <div id="loader-template" style="display: none">
      {% include 'image_loading.html' %}
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/image.js') }}"></script>
{% endblock %}
