<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Swiss AI</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fonts.css') }}"
    />
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fonts.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% include 'menu.html' %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/landing.css') }}"
    />
  </head>
  <div class="upper-overlay"></div>
  <body>
    <h1 class="outlined-text">
      Swiss <img src="/static/logo/swissimg.png" alt="Company Logo" /> AI
    </h1>

    <main>
      <p>
        Swiss AI offers users (and myself) a straightforward interface that
        grants access to a suite of developer tools powered by OpenAI.
        <br /><br />
        The platform is designed with a simple profile system to preserve user
        preferences and manage authorizations efficiently. The Sign-Up and Login
        pages are readily accessible below.
        <br /><br />
        To follow the development progress and access the source code, visit the
        project's GitHub page
        <a
          href="https://github.com/rawcsav/AIUtilsFlask"
          target="_blank"
          style="color: inherit"
          >here</a
        >.
      </p>
      <div class="banner">
        <img
          src="../static/logo/singleban.png"
          alt="Renaissance oil painting of a multifunctional Swiss AI"
        />
      </div>
    </main>
    <ul class="button-list">
      <li>
        <button class="button">
          <a href="{{ url_for('auth.signup') }}" class="button-link">Sign Up</a>
        </button>
      </li>
      <li>
        <button class="button">
          <a href="{{ url_for('user.dashboard') }}" class="button-link"
            >Login →</a
          >
        </button>
      </li>
    </ul>
    <p></p>

    {% include 'footer.html' %}
  </body>
  <script src="{{ url_for('static', filename='js/landing.js') }}"></script>
</html>
