<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Login</title>
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% set header_title = 'Login' %} {% include 'menu.html' %}
  </head>
  <div class="upper-overlay"></div>
  <body>
    <div id="login-container">
      <form id="login-form">
        <input
          type="text"
          id="login_credential"
          name="login_credential"
          placeholder="Username or Email"
          required
        />
        <input type="password" id="password" placeholder="Password" required />
        <button type="submit">Login</button>
        <a href="{{ url_for('auth.reset_password_request') }}"
          >Forgot Password?</a
        >
      </form>
      <div id="message-container"></div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  </body>
</html>
