<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Login</title>
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fonts.css') }}"
    />
    <script src="https://www.google.com/recaptcha/api.js?render=6LfilA0pAAAAAGjtNjRkGcgJqCNKTjs9xoPRNTme"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% include 'menu.html' %}

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/login.css') }}"
    />
  </head>
  <body>
    <h1 class="outlined-text">
      Swiss <img src="/static/logo/swissimg.png" alt="Company Logo" /> AI
    </h1>
    <div class="form-container" id="login-container">
      <p class="title">LOGIN</p>
      <!-- Start of the form with CSRF token -->
      <form class="form" id="login-form" method="post">
        {{ form.hidden_tag() }}
        <!-- CSRF token field -->
        <div class="input-group">
          <input
            type="text"
            name="username"
            id="username"
            placeholder="Username"
            required
          />
        </div>
        <div class="input-group">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
          />
          <div class="forgot">
            <a
              rel="noopener noreferrer"
              href="{{ url_for('auth.reset_password_request') }}"
              >Forgot Password?</a
            >
          </div>
        </div>
        <div id="message-container"></div>
        <button type="submit" class="sign">Login</button>
        <div class="checkbox">
          <input type="checkbox" id="remember" name="remember" />
          <label for="remember">Remember Me</label>
        </div>
      </form>
      <div class="social-message">
        <div class="line"></div>
        <p class="message">Connect Social Account</p>
        <div class="line"></div>
      </div>
      <div class="social-icons">
        <button
          id="google-login-button"
          aria-label="Log in with Google"
          class="icon"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            class="w-5 h-5 fill-current"
          >
            <path
              d="M16.318 13.714v5.484h9.078c-0.37 2.354-2.745 6.901-9.078 6.901-5.458 0-9.917-4.521-9.917-10.099s4.458-10.099 9.917-10.099c3.109 0 5.193 1.318 6.38 2.464l4.339-4.182c-2.786-2.599-6.396-4.182-10.719-4.182-8.844 0-16 7.151-16 16s7.156 16 16 16c9.234 0 15.365-6.49 15.365-15.635 0-1.052-0.115-1.854-0.255-2.651z"
            ></path>
          </svg>
        </button>
        <button
          id="github-login-button"
          aria-label="Log in with GitHub"
          class="icon"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            class="w-5 h-5 fill-current"
          >
            <path
              d="M16 0.396c-8.839 0-16 7.167-16 16 0 7.073 4.584 13.068 10.937 15.183 0.803 0.151 1.093-0.344 1.093-0.772 0-0.38-0.009-1.385-0.015-2.719-4.453 0.964-5.391-2.151-5.391-2.151-0.729-1.844-1.781-2.339-1.781-2.339-1.448-0.989 0.115-0.968 0.115-0.968 1.604 0.109 2.448 1.645 2.448 1.645 1.427 2.448 3.744 1.74 4.661 1.328 0.14-1.031 0.557-1.74 1.011-2.135-3.552-0.401-7.287-1.776-7.287-7.907 0-1.751 0.62-3.177 1.645-4.297-0.177-0.401-0.719-2.031 0.141-4.235 0 0 1.339-0.427 4.4 1.641 1.281-0.355 2.641-0.532 4-0.541 1.36 0.009 2.719 0.187 4 0.541 3.043-2.068 4.381-1.641 4.381-1.641 0.859 2.204 0.317 3.833 0.161 4.235 1.015 1.12 1.635 2.547 1.635 4.297 0 6.145-3.74 7.5-7.296 7.891 0.556 0.479 1.077 1.464 1.077 2.959 0 2.14-0.020 3.864-0.020 4.385 0 0.416 0.28 0.916 1.104 0.755 6.4-2.093 10.979-8.093 10.979-15.156 0-8.833-7.161-16-16-16z"
            ></path>
          </svg>
        </button>
      </div>
      {% include 'footer.html' %}
      <div class="banner">
        <img
          src="../static/logo/test3.png"
          alt="Renaissance oil painting of a multifunctional Swiss AI"
        />
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      // Event listener for the Google login button
      $("#google-login-button").on("click", function () {
        // Redirect to the Google login route
        window.location.href = "{{ url_for('auth.google_login') }}";
      });
      $("#github-login-button").on("click", function () {
        // Redirect to the GitHub login route
        window.location.href = "{{ url_for('auth.github_login') }}";
      });
    });
  </script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</html>
