<header>
  <nav class="menu-nav">
    <i class="nuicon-bars hamburger-menu"></i>
    <div class="dropdown-menu">
      {% if current_user.is_authenticated %}
      <a
        class="drop-item dashboard-menu"
        href="{{ url_for('user_bp.dashboard') }}"
        >Dashboard</a
      >
      {% else %}
      <a
        class="drop-item home-menu"
        href="{{ url_for('home_bp.landing_page') }}"
        >Home</a
      >
      {% endif %} {% if current_user.is_authenticated %}
      <a
        class="drop-item dashboard-category"
        href="{{ url_for('image_bp.generate_image') }}"
        >Images</a
      >
      <a
        class="drop-item dashboard-category"
        href="{{ url_for('embedding_bp.embeddings_center') }}"
        >Embeddings</a
      >
      <a
        class="drop-item dashboard-category"
        href="{{ url_for('chat_bp.chat_index') }}"
        >Chat</a
      >
      <a
        class="drop-item dashboard-category"
        href="{{ url_for('audio_bp.audio_center') }}"
        >Audio</a
      >
      <a class="drop-item logout-menu" href="{{ url_for('auth_bp.logout') }}"
        >Logout</a
      >
      {% else %}
      <a class="drop-item" href="{{ url_for('auth_bp.login') }}">Login</a>
      <a class="drop-item" href="{{ url_for('auth_bp.signup') }}">Signup</a>
      {% endif %}
    </div>
  </nav>
</header>
