{% extends 'base.html' %} {% block head %}
<title>Reset Pass</title>
{% endblock %} {% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/reset_password.css') }}"
/>
{% endblock %} {% block body %}
<div class="aokay animatable">
  <img
    alt="Okay Sign"
    src="{{ url_for('static', filename='images/aokay.svg') }}"
  />
</div>
<div class="shape rectangle" id="green">
  <h1>JACK</h1>
  <h2>Of all Trades</h2>
</div>
<div class="shape circle" id="yellow"></div>
<div class="balloon">
  <img
    alt="balloon"
    src="{{ url_for('static', filename='images/balloons.svg') }}"
  />
</div>
<div class="balloon2">
  <img
    alt="balloon2"
    src="{{ url_for('static', filename='images/balloon2.svg') }}"
  />
</div>
<div class="shape square" id="red">
  <a class="landing-homepage" href="https://rawcsav.com">
    <img
      alt="Homepage"
      src="{{ url_for('static', filename='logo/jacklogo.svg') }}"
    />
  </a>
</div>
<div class="shape rectangle" id="blue">
  {% if token %}
  <p class="reset-message">
    If you don't receive an email, check your spam folder. If it still can't be
    found:
    <a
      rel="noopener noreferrer"
      href="{{ url_for('auth.reset_password_request') }}"
      class=""
      >try requesting again.</a
    >
  </p>
  {% else %}
  <p class="signup">
    Don't have an account?
    <a rel="noopener noreferrer" href="{{ url_for('auth.signup') }}" class=""
      >Sign up!</a
    >
  </p>
  {% endif %}
</div>
<div class="shape form-rectangle animatable" id="purple">
  {% if token %}
  <div class="form-container">
    <form
      id="password-reset-form"
      class="form"
      method="post"
      action="{{ url_for('auth.reset_password', token=token) }}"
    >
      <input
        type="text"
        name="middle-name"
        id="middle-name"
        style="display: none"
      />
      <div class="input-group" id="reset-group">
        <input
          type="password"
          name="password"
          id="password"
          placeholder="New Password"
          required
        />
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="Confirm Password"
          required
        />
      </div>
      <button class="sign" type="submit">Update Password</button>
    </form>
    <div id="password-reset-message" class="message-container"></div>
  </div>
  {% else %}
  <div class="form-container">
    <form
      id="password-reset-request-form"
      class="form"
      method="post"
      action="{{ url_for('auth.reset_password_request') }}"
    >
      <input
        type="text"
        name="middle-name"
        id="middle-name"
        style="display: none"
      />
      <div class="input-group">
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <button class="sign" type="submit">Send Email</button>
    </form>
    <div id="password-reset-request-message" class="message-container"></div>
    {% with messages = get_flashed_messages(category_filter=["token"]) %} {% if
    messages %} {% for message in messages %}
    <div class="alert-error">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %} {% endif %}
  </div>
</div>
<div class="shape square animatable" id="orange">
  {% if token %}
  <h2 id="reset-title">Reset Password</h2>
  {% else %}
  <h2 id="request-title">Reset Request</h2>
  {% endif %}
</div>
{% endblock %} {% block scripts %}
<script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
{% endblock %}
