<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/site.webmanifest') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Reset Pass</title>
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fonts.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% include 'menu.html' %}
        <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset_password.css') }}"
    />
  </head>
  <body>
    <h1 class="outlined-text">
      Swiss <img src="/static/logo/swissimg.png" alt="Company Logo" /> AI
    </h1>
    <div class="form-container">
      {% if token %}
      <p class="title">RESET PASS</p>
      <form
        id="password-reset-form"
        class="form"
        method="post"
        action="{{ url_for('auth.reset_password', token=token) }}"
      >
        {{ form.hidden_tag() }}
        <!-- CSRF token field -->
        <div class="input-group">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="New Password"
            required
          />
          <input
            type="password"
            name="confirm_password"
            id="confirm_password"
            placeholder="Confirm Password"
            required
          />
        </div>
        <button class="sign" type="submit">Update Password</button>
      </form>
      <div id="password-reset-message" class="message-container"></div>
      <p class="signup">
        If you don't receive an email, check your spam folder. If it still can't
        be found,
        <a
          rel="noopener noreferrer"
          href="{{ url_for('auth.reset_password_request') }}"
          class=""
          >try going back and request again.</a
        >
      </p>
      {% else %}
      <!-- Reset Request Form -->
      <p class="title">REQUEST RESET</p>
      <form
        id="password-reset-request-form"
        class="form"
        method="post"
        action="{{ url_for('auth.reset_password_request') }}"
      >
        {{ form.hidden_tag() }}
        <div class="input-group">
          <input type="email" id="email" name="email" placeholder="Email" required />
        </div>
        <button class="sign" type="submit">Send Email</button>
      </form>
      <div id="password-reset-request-message" class="message-container"></div>
      {% with messages = get_flashed_messages(category_filter=["token"]) %} {%
      if messages %} {% for message in messages %}
      <div class="alert error">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
      <p class="signup">
        Don't have an account?
        <a
          rel="noopener noreferrer"
          href="{{ url_for('auth.signup') }}"
          class=""
          >Sign up!</a
        >
      </p>
      {% endif %}
    </div>
    {% include 'footer.html' %}
        <div class="banner">
        <img
          src="/static/logo/test2.png"
          alt="Renaissance oil painting of a multifunctional Swiss AI"
        />
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
</html>
