<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Password reset page of Swiss AI. Allows users to reset their passwords."
    />
    <meta
      name="keywords"
      content="Password Reset, Swiss AI, User Authentication"
    />
    <meta name="csrf-token" content="{{ csrf_token() }}" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='favicon/manifest.json') }}"
    />
    <link
      rel="mask-icon"
      href="{{ url_for('static', filename='favicon/safari-pinned-tab.svg') }}"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Reset Pass</title>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfilA0pAAAAAGjtNjRkGcgJqCNKTjs9xoPRNTme"></script>
    {% include 'menu.html' %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/fonts.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset_password.css') }}"
    />
  </head>
  <body>
    <a class="homepage-link" href="https://rawcsav.com">
      <img alt="Homepage" src="/static/logo/blacklogo.svg" />
    </a>
    <div class="aokay">
      <img alt="Okay Sign" src="/static/images/aokay.svg" />
    </div>
    <div class="shape rectangle" id="green">
      <h1>JACK</h1>
      <h2>Of all Trades</h2>
    </div>
    <div class="shape circle" id="yellow"></div>
    <div class="balloon">
      <img alt="balloon" src="/static/images/balloons.svg" />
    </div>
    <div class="balloon2">
      <img alt="balloon2" src="/static/images/balloon2.svg" />
    </div>
    <div class="shape square" id="red">
      <a class="landing-homepage" href="https://rawcsav.com">
        <img alt="Homepage" src="/static/logo/jacklogo.svg" />
      </a>
    </div>
    <div class="shape rectangle" id="blue">
      {% if token %}
      <p class="reset-message">
        If you don't receive an email, check your spam folder. If it still can't
        be found:
        <a
          rel="noopener noreferrer"
          href="{{ url_for('auth.reset_password_request') }}"
          class=""
          >try requesting again.</a
        >
      </p>
      {% else %}
      <p class="signup">
        Don't have an account?
        <a
          rel="noopener noreferrer"
          href="{{ url_for('auth.signup') }}"
          class=""
          >Sign up!</a
        >
      </p>
      {% endif %}
    </div>
    <div class="shape form-rectangle" id="purple">
      {% if token %}
      <div class="form-container">
        <form
          id="password-reset-form"
          class="form"
          method="post"
          action="{{ url_for('auth.reset_password', token=token) }}"
        >
          {{ form.hidden_tag() }}

          <div class="input-group" id="reset-group">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="New Password"
              required
            />
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              placeholder="Confirm Password"
              required
            />
          </div>
          <button class="sign" type="submit">Update Password</button>
        </form>
        <div id="password-reset-message" class="message-container"></div>
      </div>
      {% else %}
      <div class="form-container">
        <form
          id="password-reset-request-form"
          class="form"
          method="post"
          action="{{ url_for('auth.reset_password_request') }}"
        >
          {{ form.hidden_tag() }}
          <div class="input-group">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
            />
          </div>
          <button class="sign" type="submit">Send Email</button>
        </form>
        <div
          id="password-reset-request-message"
          class="message-container"
        ></div>
        {% with messages = get_flashed_messages(category_filter=["token"]) %} {%
        if messages %} {% for message in messages %}
        <div class="alert-error">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %} {% endif %}
      </div>
    </div>
    <div class="shape square" id="orange">
      {% if token %}
      <h2 id="reset-title">Reset Password</h2>
      {% else %}
      <h2 id="request-title">Reset Request</h2>
      {% endif %}
    </div>
    {% include 'footer.html' %}
  </body>
  <script src="{{ url_for('static', filename='js/reset_password.js') }}"></script>
</html>
